.Banner {
    width: $deskWidth;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .bannerShow {
        width: $deskWidth;
        transform: translateY(-1px);
        overflow: hidden;
        max-height: 550px;
        img{
            width: 100%;
            height: 100%;
            max-height: 550px;
        }
    }
    .dotsBanner {
        position: absolute;
        bottom: 0;
        pointer-events: none;
    }
    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        position: absolute;
        background-color: $mainColor;
        overflow: hidden;
    }
}

@media (max-width: $deskWidth) {
    .Banner {
        width: 100vw;
        .bannerShow {
            width: 100vw;
            img{
                aspect-ratio: 2;
            }
        }
    }
}



