.checkoutPage{
    width: $deskWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    

    .checkoutTitle {
        width: 100%;
        margin: 15px 5px;
        font-size: 20pt;
    }
    .data {
        width: 49%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid $mainColor;
        padding: 10px 0;
        span {
            font-size: 13pt;
            margin: 3px 20px;
        }
    }

    .products {
        width: 100%;
        border-radius: 20px;
        border: 1px solid $mainColor;
        margin: 10px 0;
        padding: 10px 0;

        display: flex;
        flex-direction: column;

        .product {
            text-decoration: none;
            width: 90%;
            display: flex;
            padding: 10px 4%;
            justify-content: space-between;
            border-bottom: 1px solid $mainColor;
            &:last-child {
                border-bottom: none;
            }

            .pImage {
                width: 130px;
                aspect-ratio: 1/1;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .pInfo {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: center;

                .pName {
                    width: 100%;
                    font-size: 18pt;
                    color: #323;
                    letter-spacing: 1px;
                    text-align: center;
                }
                .pAvailable {
                    text-align: center;
                    font-size: 8pt;
                    color: rgb(67, 207, 67);
                    width: 100%;
                    margin-bottom: 8px;
                }
                .giftCheck {
                    width: 100%;
                    font-size: 11pt;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        margin: 0 5px;
                        accent-color: $mainColor;
                    }
                }
                .vari {
                    text-align: center;
                }

                .pQuantity {
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    font-size: 12pt;
                    span {
                        color: $mainColor;
                        font-weight: bold;
                        font-size: 13pt;
                        padding: 0 4px;
                    }
                }
            }
            .pPrice {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                span {
              
                        font-size: 16pt;
                        font-weight: bold;
    
                    color: #666;
                }
            }
        }
    }

    .shipping,
    .subTotal,
    .total {
        width: 100%;
        border-radius: 20px;
        border: 1px solid $mainColor;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 0 50px;
        span {
            margin: 10px 0;
            font-size: 13pt;
        }
    }
    .subTotal {
        justify-content: flex-end;
    }
    .total{
        width: 40%;
        flex-direction: column;
        position: relative;
        justify-content: center;
        label{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin: 6px 0;
            span{
                margin: 0;
            }
        }
    }
    .shipping {
        flex-direction: column;
        padding: 10px 20px;
        gap: 10px;
        width: 45%;
        .shipHeader{
            width: 100%;
            font-size: 14pt;
            text-align: center;
        }
        div {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            position: relative;
            column-gap: 30px;
            span{
                margin:  0 auto;
                width: 100%;
            }
            input[type="radio"] {
                margin:  0 auto;
                accent-color: $mainColor;
                border: 1px solid #ffffff88;
                transition: 1s;
                width: 55px;
                height: 55px;
                cursor: pointer;
            }
        }
        position: relative;

    }
    button {
        width: 300px;

        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        font-size: 14pt;
        padding: 10px 0;
        border-radius: 30px;
        background-color: $mainColor;
        color: #fff;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 10px;
        transition: 0.5s;
        &:hover {
            background-color: darken($mainColor, 12);
        }
    }
    .off {
        pointer-events: none;
        background-color: #ddd;
    }
}

#waitingShipping, #totalBoxOn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba($mainColor, 0.05);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    i{
        font-size: 25pt;
        color: #787878;
        animation: girar 1s infinite;

    }
    @keyframes girar {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }

    }
}
.redirectMessage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#fdd, 0.5);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    display: none;
    opacity: 0;
    transition: 0.5s;
    .redirectMessageContent {
        transition: 1.5s;
        width: 500px;
        height: 300px;
        border-radius: 20px;
        color: #fff;
        background-color: rgba($mainColor, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: 20px 20px 50px rgba(#000000, 0.5);
        border-radius: 10px;
        overflow: hidden;
        backdrop-filter: blur(20px);
        i {
            background-color: #0f0;
            font-size: 30pt;
            border-radius: 50%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: 20pt;
            margin: 0;
            text-align: center;
        }
        p {
            font-size: 14pt;
            text-align: center;
            margin: 0;
        }
    }
}

@media (max-width: $deskWidth) {
    .checkout {
        width: 90%;
    }
}
@media (max-width: 700px) {
    .checkout {
        .data {
            width: 100%;
            margin-bottom: 20px;
            .dataHeader {
                font-size: 16pt;
                font-weight: bold;
                color: #898989;
            }
        }
        .shipping {
            .shipHeader {
                width: 100%;
                font-size: 18pt;
                font-weight: bold;
                color: #898989;
                text-align: center;
            }
        }
    }
}

@media (max-width: 450px) {
    .checkout {

        width: 100%;
        .data {
            border-radius: 0;
            border-left: none;
            border-right: none;
        }
        .checkoutTitle {
            width: 100%;
            margin: 10px auto;
            text-align: center;
        }

        .products {
            border-radius: 0;
            border-left: none;
            border-right: none;
            .product{
                width: 100%;
                .pImage {
                    width: 90px;
                    height: 90px;
                }
            .pInfo {
                .pName{
                    font-size: 14pt;
                }
                .pQuantity{
                    span{

                        font-size: 12pt;
                        color: #aa6969;
                    }
                    font-size: 12pt;
                }
            }
            .pPrice{
                span{

                    font-size: 13pt;
                }
            }
            }
        }
        .shipping,
        .subTotal,
        .total {
            border-radius: 0;
            border-left: none;
            border-right: none;
        }
        .subTotal{
            span{
                font-size: 13pt;
            }
        }
        .total{
            border-top: none;
        }
        .shipping{
            span{
                font-size: 12pt;
            }
        }
    }
}
