.checkout {
    width: $deskWidth;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .checkoutTitle {
        width: 100%;
        margin: 15px 5px;
        font-size: 20pt;
    }
    .data {
        width: 49%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid $mainColor;
        padding: 10px 0;
        span {
            font-size: 13pt;
            margin: 3px 20px;
        }
    }

    .products {
        width: 100%;
        border-radius: 20px;
        border: 1px solid $mainColor;
        margin: 10px 0;
        padding: 10px 0;

        display: flex;
        flex-direction: column;

        .product {
            text-decoration: none;
            width: 97%;
            display: flex;
            padding: 10px 0;
            justify-content: space-around;
            border-bottom: 1px solid $mainColor;
            &:last-child {
                border-bottom: none;
            }

            .pImage {
                width: 130px;
                aspect-ratio: 1/1;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .pInfo {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                
                .pName {
                    width: 100%;
                    font-size: 18pt;
                    color: #323;
                    letter-spacing: 1px;
                    text-align: center;
                }
                .pAvailable {
                    text-align: center;
                    font-size: 8pt;
                    color: rgb(67, 207, 67);
                    width: 100%;
                    margin-bottom: 8px;
                }
                .giftCheck {
                    width: 100%;
                    font-size: 11pt;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        margin: 0 5px;
                        accent-color: $mainColor;
                    }
                }
                .vari{
                    text-align: center;
                }
    
                .pQuantity {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14pt;
                    span{
                        font-size: 16pt;
                   }
                }
            }
            .pPrice{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                span{
                    &:first-child{
                        font-size: 16pt;
                        font-weight: bold;
                    }
                    font-size: 8pt;
                    color: #666;
                }
            }
        }
    }

    .shipping,
    .subTotal,
    .total {
        width: 100%;
        border-radius: 20px;
        border: 1px solid $mainColor;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 0 50px;
        span {
            margin: 10px 0;
            font-size: 16pt;
        }
    }
    .subTotal{
        justify-content: flex-end;
    }

    .shipping{
        flex-direction: column;
        padding: 20px 30px;
        gap: 10px;
        div{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            position: relative;
            input[type="radio"]{
                right: 90px;
                position: absolute;
                accent-color: $mainColor;
                border: 1px solid #ffffff88;
                transition: 1s;
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
    button {
        width: 300px;
        border: none;
        outline: none;
        font-size: 14pt;
        padding: 10px 0;
        border-radius: 30px;
        background-color: $mainColor;
        color: #fff;
        cursor: pointer;
        margin-bottom: 50px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 10px;
        transition: 0.5s;
        &:hover {
            background-color: darken($mainColor, 12);
        }
    }
    .off{
        pointer-events: none;
        background-color: #ddd;
    }
}

@media (max-width: $deskWidth){
    .checkout{
        width: 90%;
    }
}
@media (max-width: 700px){
    .checkout{
    .data {
        width: 90%;
        margin-bottom: 20px;
    }
    }
}