@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Regular"), url("fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 500;
    src: local("Myriad Pro Regular"), url("fonts/MYRIADPRO-SEMIBOLD.woff") format("woff");
}