.prodBanner {
    width: $deskWidth;
    height: 450px;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #ProdsSlider {
        width: $deskWidth;
        height: 100.5%;
        position: absolute;
        transform: translateY(-1px);

        overflow: hidden;
    }
    .dotsProdBanner {
        position: absolute;
        bottom: 0;
        pointer-events: none;
    }
    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        position: absolute;
        background-color: $mainColor;
        overflow: hidden;
    }
}

.toggleFilter {
    display: none;
}
.filterBox {
    transition: 0.5s;

    height: 80px;
    width: 100%;
    border-bottom: 2px solid $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    //position: inherit;
    background-color: #fff;
    z-index: 5;
    transition: 1s;
    position: sticky;
    top: 0;
    .filter {
        height: 100%;
        width: $deskWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px 10px;

        div {
            display: flex;
            span {
                font-size: 12pt;
                color: #888;
            }
            input {
                padding: 2px 0;
                border: none;
                border: 1px solid $mainColor;
                border-radius: 20px;
                margin: 0 3px;
                width: 100px;
                text-align: center;
                font-size: 11pt;
                color: $mainColor;

                &:focus {
                    box-shadow: 0 0 5px 0px darken($mainColor, 1);
                    outline: none;
                }
                &::placeholder {
                    color: rgba(lighten($mainColor, 14), 0.8);
                }
            }

            select {
                width: 110px;
                border: 1px solid $mainColor;
                border-radius: 20px;
                margin: 0 3px;
                padding: 2px 0;
                text-align: center;
                color: #888;
                font-size: 11pt;

                option {
                    width: 100%;
                    background-color: rgba($mainColor, 0.2);
                    text-align: center;
                    color: $mainColor;
                }
            }
        }
        .search {
            width: 200px;
            height: 24px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border: 1px solid $mainColor;
            border-radius: 20px;

            input {
                border: none;
                width: 90%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                outline: none;
                padding: 3px 10px;
                font-size: 10pt;
                text-align: left;
                &:focus {
                    box-shadow: none;
                }
            }
            i {
                padding-right: 5px;
                padding-left: 0px;
                color: $mainColor;
                cursor: pointer;
                font-size: 11pt;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

.products {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .showProducts {
        width: $deskWidth;
        min-height: 300px;
        transition: 0.5s;
        padding: 10px 0;
        display:  grid;
        grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
        .product {
            height: 250px;
            width: 200px;
            border: 1px solid $mainColor;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            margin: 10px 5px;
            .prodImage {
                height: 60%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                img {
                    width: 80%;
                }

                .sImage {
                    position: absolute;
                    z-index: 4;
                    width: 100%;
                    background-color: #0f0;
                    filter: opacity(0);
                    transition: 0.7s;
                    img {
                        width: 60%;
                        height: 10px;
                    }

                    &:hover {
                        filter: opacity(1);
                    }
                }

                .promo {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 70px;
                    height: 20px;
                    color: #fff;
                    background-color: $mainColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 10pt;
                }
            }
            .prodName {
                color: #666;
                font-size: 14pt;
                font-weight: bold;
                text-align: center;
                overflow: hidden;
                max-height: 45px;
            }
            .prodPrice {
                color: $mainColor;
                font-size: 15pt;
                font-weight: bold;
            }
            .prodPay {
                font-size: 8pt;
                color: #666;
            }
            i {
                color: $mainColor;
                margin-bottom: 10px;
                font-size: 14pt;

                cursor: pointer;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}

@media (max-width: $deskWidth) {
    .prodBanner {
        width: 100%;
    }
    .filterBox {
        .filter {
            width: 100%;
        }
    }
    .products {
        .showProducts {
            width: 100%;
        }
    }

    .aboutSlider {
        #AboutSlider {
            width: 100%;
        }
    }
}

@media (max-width: 1000px) {
    .filterBox {
        padding: 10px 0;
        align-items: baseline;
        .filter {
            margin: 0 20px;
        }
    }
    .prodBanner {
        width: 100%;
        height: 400px;
        #ProdsSlider {
            width: 100%;
        }
    }
}

@media (max-width: 900px) {
    .prodBanner {
        width: 100%;
        height: 350px;
        #ProdsSlider {
            width: 100%;
        }
    }
    .filterBox {
        .filter {
            div {
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 800px) {
    .prodBanner {
        display: none;
    }
    .toggleFilter {
        width: 100%;
        justify-content: space-between;
        display: flex;
        color: $mainColor;
        padding: 5px 0;
        border-bottom: 1px solid $mainColor;
        align-items: center;
        span {
            justify-self: flex-start;
            margin-left: 20px;
            font-size: 20pt;
            color: #666;
        }
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 14pt;
        }
        i {
            cursor: pointer;
            font-size: 18pt;
            margin-left: 10px;
            margin-right: 25px;
        }
    }
    .filterBox {
        overflow: hidden;
        border-bottom: 1px solid rgba($mainColor, 1);
        padding: 15px 0;

        .filter {
            flex-wrap: wrap;
            justify-content: space-around;

            .search {
                padding: 2px 5px;
                width: 30%;
                margin-top: 5px;
            }
        }
    }
    .off {
        height: 0;
        border-bottom: 1px solid rgba($mainColor, 0);

        padding: 0;
    }
}

@media (max-width: 750px) {
    .filterBox {
        .filter {
            .search {
                width: 40%;
            }
        }
    }
    .products{
        .showProducts{
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            align-items: center;
            .product{
                width: 250px;
                height: 280px;
                margin: inherit auto;
            }
        }
    }
}
@media (max-width: 600px) {
    .filterBox {
        .filter {
            .search {
                width: 50%;
            }
        }
    }
}
