.toggleFilter {
    display: none;
}
.filterBox {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    max-height: 100%;

    background-color: #fff;
    border-bottom: 2px solid $mainColor;
    padding-bottom: 10px;

    z-index: 5;
    overflow: hidden;

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        left: 0;
        bottom: 0;
        padding: 10px 0;
        width: $deskWidth;
        flex-wrap: wrap;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 12pt;
                color: rgba($mainColor, 1);
                margin-right: 10px;
            }

            input {
                width: 100px;

                margin: 0 3px;
                padding: 2px 0;

                color: $mainColor;
                font-size: 11pt;
                text-align: center;

                border: none;
                border: 1px solid $mainColor;
                border-radius: 20px;

                outline: none;

                &::placeholder {
                    color: rgba(lighten($mainColor, 14), 0.8);
                }
            }
            label {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                row-gap: 15px;
                column-gap: 5px;

                input[type="number"] {
                    width: 60px;
                    margin-right: 10px;
                    text-align: center;
                }
                #slider-range {
                    height: 2px;
                    width: 85%;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    .ui-slider-horizontal {
                        height: 0.2em;
                    }
                    .ui-widget-header {
                        background: $mainColor;
                        height: 3px;
                    }
                    .ui-slider-handle {
                        top: inherit !important;
                        font-size: 10pt;
                        border-radius: 20px;
                        transform: translateY(1px);
                        cursor: pointer;
                    }
                }
            }
            select {
                width: 110px;
                border: 1px solid $mainColor;
                border-radius: 20px;
                margin: 0 3px;
                padding: 2px 0;
                text-align: center;
                color: #888;
                font-size: 11pt;
            }
        }

        .search {
            width: 200px;
            height: 24px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border: 1px solid $mainColor;
            border-radius: 20px;

            input {
                border: none;
                width: 90%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                outline: none;
                padding: 3px 10px;
                font-size: 10pt;
                text-align: left;
                &:focus {
                    box-shadow: none;
                }
            }
            i {
                padding-right: 5px;
                padding-left: 0px;
                color: $mainColor;
                cursor: pointer;
                font-size: 11pt;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
    }
}
.toggleFilter {
    width: 100%;
    justify-content: space-between;
    display: none;
    color: $mainColor;
    padding: 5px 0;
    border-bottom: 1px solid $mainColor;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 15;
    height: 50px;
    background-color: #fff;

    span {
        justify-self: flex-start;
        margin-left: 20px;
        font-size: 20pt;
        color: #666;
    }
    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 14pt;
    }
    i {
        cursor: pointer;
        font-size: 18pt;
        margin-left: 10px;
        margin-right: 25px;
    }
}

.products {
    width: 100%;
    display: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    //min-height: 100vh;

    .showProducts {
        width: $deskWidth;
        min-height: 300px;
        transition: 0.5s;
        padding: 10px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 20px;
        position: relative;
        place-items: start center;
        .productModel {
            width: 90%;
            height: 100%;
        }
        .notFound {
            position: absolute;
            width: 100%;
            align-self: center;
            text-align: center;
            color: #696969;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-weight: lighter;
        }
    }
    .loadingProducts {
        padding: 10px 0;
        display: none;
        i {
            font-size: 25pt;
            color: #a9a9a9;
            animation: spin 1s infinite;
        }
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//> 1100px
@media (max-width: $deskWidth) {
    .prodBanner {
        width: 100%;
    }
    .filterBox {
        .filter {
            box-sizing: border-box;
            padding: 10px 10px;
            width: 100%;
        }
    }
    .products {
        .showProducts {
            width: 100%;
        }
    }

    .prodBanner {
        #ProdsSlider {
            width: 100%;
        }
    }
}
//> 930px
@media (max-width: 930px) {
    .products {
        .showProducts {
            .productModel {
                .productModelName {
                    font-size: 12pt;
                }
                .productModelPrice {
                    font-size: 13pt;
                }
            }
        }
    }
}

//* 860px
@media (max-width: 880px) {
    .prodBanner {
        display: none;
    }
    .filterBox {
        .filter {
            .minMax {
                padding: 10px 0;
            }
            .search {
                width: 50%;
                margin-left: auto;
            }
        }
    }
    .products {
        .showProducts {
            .productModel {
                .productModelName {
                    font-size: 11pt;
                }
                .productModelPrice {
                    font-size: 12pt;
                }
                i {
                    font-size: 12pt;
                }
            }
        }
    }
}

//> 750px
@media (max-width: 750px) {
    .filterBox {
        .filter {
            padding: 10px 20px;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .minMax {
                label {
                    column-gap: 0;
                }

                padding: 10px 0;
            }
            .search {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
    .products {
        width: 99%;
        margin: 0 auto;
        box-sizing: border-box;
        .showProducts {
            box-sizing: border-box;
            grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
            align-items: center;
        }
    }
}

//* 600px
@media (max-width: 600px) {
    .toggleFilter {
        display: flex;
    }
    .filterBox {
        transition: 1s;
        position: sticky;
        top: 60px;
        overflow: hidden;
        max-height: 250px;
        height: 100%;
        padding: 0;
        transition: 2s;
    }
    .toggleFilterOff {
        transition: 1s;

        overflow: hidden;
        max-height: 0;
        border-bottom: 1px solid rgba($mainColor, 0);
    }
    .products {
        .showProducts {
            grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
            align-items: center;
            place-items: center;
        }
    }
}

//> 500px
@media (max-width: 550px) {
    .products {
        .showProducts {
            grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
            place-items: center;
            justify-content: space-between;
            row-gap: 20px;
            .productModel {
                .productModelPromo {
                    font-size: 10pt;
                    height: 20px;
                    width: 70px;
                }
            }
        }
    }
    .filterBox {
        .filter {
            padding: 10px;
            .search {
                width: 90%;
            }
        }
    }
    .toggleFilter {
        span {
            font-size: 16pt;
        }
        label {
            font-size: 14pt;
            i {
                font-size: 15pt;
            }
        }
    }
}

//* 480px
@media (max-width: 480px) {
    .products {
        .showProducts {
            grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));

        }
    }
    .filterBox {
        .filter {
            padding: 10px 0;
            div {
                margin: 0;
                width: 100%;
            }
            .minMax {
                margin: 0;
            }
        }
    }
}
//* 480px
@media (max-width: 400px) {
    .products {
        .showProducts {
            grid-template-columns: repeat(auto-fill, minmax(47%, 1fr));
            place-items: center;

        }
    }
    .filterBox {
        .filter {
            padding: 10px 0;
            div {
                margin: 0;
                width: 100%;
            }
            .minMax {
                margin: 0;
            }
        }
    }
}

//> 380px
@media (max-width: 380px) {
    .toggleFilter {
        span {
            font-size: 15pt;
        }
        label {
            font-size: 13pt;
            i {
                font-size: 14pt;
            }
        }
    }

}

//* 330px
@media (max-width: 330px) {
    .filterBox {
        .filter {
            .search {
                width: 90%;
            }
        }
    }
    .products {
        .showProducts {
            .productModel {
                .productModelName {
                    font-size: 10pt;
                }
                .productModelPrice {
                    font-size: 10pt;
                }
                i {
                    font-size: 10pt;
                margin-bottom: 3px;
                    
                }
            }
        }
    }
}

//> 290px
@media (max-width: 280px) {
    .filterBox {
        .filter {
            .search {
                width: 90%;
            }
        }
    }
    .products {
        .showProducts {
            grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
        }
    }
}
