.productPage {
    width: $deskWidth;
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    .galery {
        width: 50%;
        max-height: 400px;
        display: flex;
        .mainImg {
            width: 400px;
            height: 400px;
            aspect-ratio: 1/1;
            overflow: hidden;
            border: 1px solid $mainColor;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        .secImg {
            width: 130px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
            padding: 0 2px;
            .sImage {
                position: relative;
                width: 80%;
                aspect-ratio: 1/1;
                border: 1px solid $mainColor;
                overflow: hidden;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }

    .info {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .productName {
            font-size: 20pt;
            color: #888;
            width: 100%;
            text-align: left;
        }
        .productPrice {
            width: 40%;
            display: flex;
            flex-direction: column;
            .promo {
                text-decoration: line-through;
                color: #aaa;
                font-size: 13pt;
                letter-spacing: 1px;
            }
            .price {
                color: $mainColor;
                font-size: 32pt;
                letter-spacing: 2px;
                display: flex;
                align-items: flex-start;
                p {
                    letter-spacing: 1px;
                    font-size: 12pt;
                }
            }
        }
        .payments {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .buyBox {
            width: 39%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .buyBtn,
            .cartBtn {
                width: 100%;
                height: 30px;
                border-radius: 30px;
                background-color: $mainColor;
                color: #fff;
                font-size: 11pt;
                margin: 5px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                border: none;
                &:hover {
                    cursor: pointer;
                    color: rgb(255, 208, 234);
                }
            }
            .cartBtn {
                background-color: rgb(17, 148, 17);
                &:hover {
                    color: rgb(196, 255, 179);
                }
            }
        }

        .shipping {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 59%;
            border-right: inset 2px $mainColor;
            margin-left: 1%;
            position: relative;

            .shipCalc {
                width: 100%;
                display: flex;
                height: 30px;
                position: relative;
                input {
                    display: block;
                    width: 70%;
                    border-right: none;
                    margin-left: 20px;
                    border: 1px solid $mainColor;
                    text-align: center;
                    letter-spacing: 2px;
                }
                .calcBtn {
                    width: 30%;
                    height: 100%;
                    border: none;
                    background-color: $mainColor;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                small {
                    position: absolute;
                    top: -7px;
                    font-size: 8pt;
                    left: 25px;
                    background-color: #fff;
                    padding: 0 2px;
                    color: $mainColor;
                    display: none;
                    transition: 0.8s;
                }
            }

            .shipCost {
                position: relative;
                bottom: 0;

                z-index: -1;
                display: flex;
                width: 100%;
                padding: 10px 0;
                flex-wrap: wrap;
                flex-direction: column;

                .preco {
                    display: none;
                }
                div {
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0;
                    span {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 11pt;
                    }

                    ion-icon {
                        margin-top: 20px;
                        width: 20%;
                        font-size: 20pt;
                        color: $mainColor;
                        animation: none;

                        @for $i from 1 to 6 {
                            &:nth-child(#{$i}) {
                                animation-delay: ($i * 100ms);
                            }
                        }
                    }
                    .animateShipping {
                        animation: 0.8s ease-in-out infinite alternate loadShipping;
                    }

                    .sLocal {
                        font-size: 9pt;
                        overflow: hidden;
                    }
                }
            }
        }

        @keyframes loadShipping {
            from {
                transform: scale(1);
                filter: brightness(0.9);
            }
            to {
                transform: scale(1.3);
                filter: brightness(1.1);
            }
        }

        .prodOptions {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            position: relative;
            margin-top: 25px;
            label {
                min-width: 40px;
                display: flex;
                height: 40px;
                justify-content: center;
                align-items: center;
                input {
                    visibility: hidden;
                    display: none;
                    accent-color: #f00;
                }
                span {
                    padding: 0 5px;
                    width: 100%;
                    height: 100%;
                    background-color: #dfdfdf;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #888;
                    border-radius: 10px;
                    cursor: pointer;
                }
                input:checked ~ span {
                    font-weight: bolder;
                    background-color: #e2e2e2;
                    text-shadow: 0 0 9px #999;
                    border: 1px solid #ff7bf4;
                    color: #ff7bf4;
                    box-shadow: 0 0 12px -2px #ff7bf4;
                }
                input:checked ~ small {
                    display: flex;
                }
                input:disabled ~ span {
                    cursor: not-allowed;
                    color: #f00;
                    //overflow: hidden;
                    position: relative;
                }
                input:disabled ~ span::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    transform: rotate(45deg);
                }
            }
            small {
                position: absolute;
                top: -25px;
                width: 100%;
                left: 0;
                display: none;
                color: #999;
            }
        }
        .description {
            width: 100%;
            border: 1px solid $mainColor;
            margin: 10px;
            padding: 10px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            p {
                margin-bottom: 10px;
            }
            label {
                margin: 5px 0;
            }
        }
    }
}
.sizeTable {
    width: $deskWidth;
    display: flex;
    justify-content: center;
    img {
        width: 60%;
    }
}

@media (max-width: $deskWidth) {
    .productPage {
        width: 100%;
        .info {
            .buyBox {
                width: 80%;
                margin: 25px auto;
                gap: 5px;
            }

            .shipping {
                width: 80%;
                margin: 15px auto;
            }
            .productName {
                margin-left: 20px;
            }
            .productPrice {
                width: 30%;
                margin-left: 30px;
            }
            .payments {
                width: 55%;
                margin-right: auto;
            }
        }
    }
    .sizeTable {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;
        * {
            margin: 10px 0;
            width: 90%;
        }
    }
}

@media (max-width: 900px) {
    .productPage {
        .galery {
            width: 60%;
            max-height: inherit;

            height: 400px;
            .mainImg {
                width: 400px;
                height: 400px;
            }
        }
        .info {
            width: 40%;
            .payments {
                width: 60%;
                margin: 10px auto;
            }
        }
    }
}

@media (max-width: 860px) {
    .productPage {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 10px;
        .galery {
            width: 90%;
            max-height: inherit;
            height: 420px;
            justify-content: center;
            .mainImg {
                width: 420px;
                height: 420px;
            }
        }
        .info {
            width: 90%;
            margin-top: 10px;
            .productName {
                width: 100%;
                text-align: center;
                margin: 0;
                margin-bottom: 30px;
            }
            .productPrice {
                width: 40%;
                justify-content: center;
                align-items: center;
                .promo {
                    font-size: 10pt;
                }
                .price {
                    font-size: 32pt;
                    p {
                        font-size: 12pt;
                    }
                }
            }
            .payments {
                width: 50%;
                margin: 0;
                img {
                    width: 80%;
                    margin-right: auto;
                }
            }
            .buyBox {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 20px;
                .cartBtn,
                .buyBtn {
                    width: 45%;
                    border: none;
                }

                .prodOptions {
                    gap: 20px;
                }

            }

            .shipping {
                width: 60%;
                margin: 20px 10% 0 auto;
            }
            .description {
                margin: 20px 0;
                padding: 10px;
            }
        }
    }
}
.productPage .info .buyBox .ButtonDisabled{
    color: #888 ;  
    background-color: #ddd ;
    border: none;

    pointer-events: none ;
}

@media (max-width: 650px) {
    .productPage {
        .galery {
            margin: 10px 0;
            flex-direction: column;
            height: 100%;
            width: 100%;
            align-items: center;
            gap: 10px;
            justify-content: space-evenly;
            .mainImg {
                width: 440px;
                height: 440px;
            }
            .secImg {
                flex-direction: row;
                width: 440px;
                height: 130px;
                flex: 1;
            }
        }
    }
}
@media (max-width: 600px) {
    .productPage {
        .info {
            .payments {
                img {
                    width: 90%;
                }
            }
            .shipping {
                width: 80%;
                margin: auto;
            }
        }
    }

    //! Ok ate 627px
    @media (max-width: 450px) {
        .productPage {
            .galery {
                margin: 10px 0;
                flex-direction: column;
                height: 100%;
                width: 100%;
                align-items: center;
                gap: 10px;
                justify-content: space-evenly;
                .mainImg {
                    width: 90%;
                    height: auto;
                }
                .secImg {
                    flex-direction: row;
                    width: 90%;
                    height: inherit;
                    flex: 1;
                }
            }
            .info {
                width: 95%;
                .buyBox {
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    row-gap: 10px;
                    margin-bottom: 20px;
                    .cartBtn,
                    .buyBtn {
                        width: 100%;
                        font-size: 12pt;
                    }
                    .prodOptions {
                        gap: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .productPage {
        .info {
            .payments {
                display: none;
                width: 80%;
                margin: 0 auto;
                margin-top: 20px;
                img{
                    margin: 0;
                }
            }
            .productPrice{
                width: 90%;
                margin: 0;
                align-items: flex-end;
                .price{
                    font-size: 44pt;
                    p{
                        font-size: 18pt;
                    }
                }
                .promo{
                    font-size: 18pts;
                }
            }
            .shipping{
                width: 100%;
            }
            .buyBox{
                width: 98%;
                .prodOptions{
                    gap: 10px;
                }
            }
        }
    }
}
