.returnPage{
    background-color: $mainColor;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.returnPage .returnContent {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid $mainColor;
    border-radius: 20px;
    color: #fff;
    h1 {
        width: 100%;
        text-align: center;
        padding: 10px 40px;
        font-weight: normal;
        background-color: rgb(247, 247, 247);
        color: $mainColor;
    }
    h2 {
        font-weight: normal;
    }
    .nps {
        padding: 20px 40px;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        gap: 20px;
        .stars {
            padding: 5px 10px;
            margin: 5px 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            input {
                display: none;
            }
            label {
                i {
                    font-size: 28pt;
                    color: #fefefe;
                    text-shadow: 0px 0px 4px #000;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
            input:checked ~ label,
            label:hover {
                i {
                    color: rgb(218, 203, 0);
                }
            }
        }
        #rateMsg {
            margin: 0;
            color: #fff;
            font-size: 13pt;
        }
    }
    textarea {
        width: 70%;
        height: 40px;
        border: 2px solid $mainColor;
        border-radius: 20px;
        padding: 10px;
        resize: none;
        font-size: 13pt;
    }
    button {
        padding: 10px 20px;
        background-color: #fff;
        color: $mainColor;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid #fff;
        &:hover {
            color: #fff;
            background-color: $mainColor;
            
        }
    }

    .code {
        background-color: #fff;
        padding: 20px 40px;
        border-radius: 20px;
        border: 2px solid #fff;
        color: $mainColor;
        font-weight: bold;
        font-size: 13pt;
        filter: brightness(1.1);
        letter-spacing: 0.5px;
    }
    p {
        font-size: 13pt;
        font-weight: normal;
        margin: 0;
        color: #fff;
    }
}

@media (max-width: 970px) {
    body {
        flex-direction: column;
    }
}
