.returnPage {
    background-color: $mainColor;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-x: hidden;
}
.returnPage .returnContent {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid $mainColor;
    border-radius: 20px;
    color: #fff;
    box-sizing: border-box;
    .logo {
        width: 30%;
        max-height: 200px;
        overflow: hidden;
        margin: 10px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        width: 100%;
        text-align: center;
        padding: 10px 40px;
        font-weight: normal;
        background-color: rgb(247, 247, 247);
        color: $mainColor;
    }
    h2 {
        font-weight: normal;
    }
    .nps {
        padding: 20px 40px;

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        gap: 20px;
        .stars {
            padding: 5px 10px;
            margin: 5px 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            input {
                display: none;
            }
            label {
                i {
                    font-size: 28pt;
                    color: #fefefe;
                    text-shadow: 0px 0px 4px #000;
                    cursor: pointer;
                    transition: 0.5s;
                }
                .confirmRate{
                    transition: 0.6s;
                    text-shadow: 0px 0px 5px #ff0;
                }
            }
            input:checked ~ label,
            label:hover {
                i {
                    color: rgb(218, 203, 0);
                }
            }
        }
        #rateMsg {
            margin: 0;
            color: #fff;
            font-size: 13pt;
        }
    }
    textarea {
        width: 70%;
        height: 40px;
        border: 2px solid $mainColor;
        border-radius: 20px;
        padding: 10px;
        resize: none;
        font-size: 13pt;
    }
    button {
        padding: 5px 0;
        width: 60%;
        background-color: #fff;
        color: $mainColor;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s;
        border: 1px solid #fff;
        font-size: 13pt;
        &:hover {
            color: #fff;
            background-color: $mainColor;
        }
    }

    .code {
        background-color: #fff;
        padding: 20px 40px;
        border-radius: 20px;
        border: 2px solid #fff;
        color: $mainColor;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            width: 90%;
            border: none;
            outline: none;
            font-weight: bold;
            font-size: 13pt;
            filter: brightness(1.1);
            letter-spacing: 0.5px;
            box-sizing: border-box;

            pointer-events: none;
            text-align: center;
        }
        i {
            font-size: 13pt;
            transition: 0.6s;
        }
    }
    p {
        font-size: 13pt;
        font-weight: normal;
        margin: 0;
        color: #fff;
    }
}

@media (max-width: 970px) {
    .returnPage .returnContent {
        .nps {
            padding: 10px;
        }
        button {
            padding: 5px 0;
            box-sizing: border-box;
            width: 60%;
        }
    }
}
@media (max-width: 590px) {
    .returnPage {
        padding: 10px 0;
        justify-content: flex-start;
        .returnContent {
            h1 {
                font-size: 18pt;
            }
            p {
                font-size: 11pt;
            }
            .code {
                box-sizing: border-box;
                width: 90%;
                padding: 10px 5px;
                input {
                    font-size: 11pt;
                    text-align: center;
                }
            }

            .nps {
                gap: 10px;
                h2 {
                    font-size: 16pt;
                }
                .stars {
                    label i {
                        margin: 0 2px;
                        font-size: 18pt;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .returnPage .returnContent {
        justify-content: space-evenly;
        height: 100vh;
        gap: 0;
        padding: 20px 0;
        .logo {
            margin: 0;
        }
        .code {
            width: 100%;
            border-radius: 0;
            padding: 10px 2px;
            input {
                width: 95%;
                font-size: 10pt;
                text-align: center;
            }
            i {
                font-size: 10pt;
            }
        }
        .nps {
            gap: 2px;
            padding: 0;
            h2 {
                font-size: 12pt;
            }
            span#rateMsg {
                font-size: 11pt;
            }
        }
        textarea {
            font-size: 10pt;
        }
    }
}
@media (max-width: 350px) {
    .returnPage .returnContent {
        justify-content: space-around;
        padding: 10px 0;
        .logo {
            margin: 0;
        }
        h1 {
            font-size: 14pt;
        }
        p {
            font-size: 10pt;
        }
        .code {
            input {
                width: 98%;
                font-size: 8pt;
            }
        }
        .nps {
            gap: 2px;
            h2 {
            }
            .stars {
            }
            span#rateMsg {
            }
        }
        span {
            font-size: 9pt;
        }
        textarea {
            font-size: 9pt;
        }
        button {
            padding: 2px 0;
            font-size: 9pt;
        }
    }
}
@media (max-width: 300px) {
    .returnPage .returnContent .code input {
        text-align: left;
    }
}
