.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    width: $deskWidth;
    gap: 20px;
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    .progress {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        position: relative;
        justify-content: space-between;

        .pass {
            display: flex;
            position: relative;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                flex: 0;
            }
            .passIcon {
                width: 55px;
                height: 55px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17pt;
                background-color: #fff;
                border: 1px solid #ddd;
                color: $mainColor;
                margin: 0 10px;
                position: relative;
                .passName {
                    position: absolute;
                    bottom: -25px;
                    color: $mainColor;
                    font-size: 14px;
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    //background-color: #f0f;
                }
            }
            .finalIcon {
                //disputIcon
                display: none;
            }
            .arrows {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex: 1;
                i {
                    font-size: 13pt;
                    background-color: transparent;
                    color: #ddd;
                    margin: 0px;
                    border: none;
                }
            }
        }
        .doing {
            .passIcon {
                background-color: $mainColor;
                color: #fff;
                border: 1px solid $mainColor;
            }
            .arrows:nth-child(2) {
                i {
                    color: $mainColor;
                }
            }
        }
        .done {
            .passIcon {
                background-color: $mainColor;
                border: 1px solid $mainColor;

                color: #fff;
            }
            .arrows {
                i {
                    color: $mainColor;
                }
            }
        }
    }
    .prodShow {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        .prod {
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            padding: 5px 0;
            height: 65px;
            width: 100%;
            align-items: center;
            border-bottom: 2px solid $mainColor;
            .image {
                width: 65px;
                height: 65px;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0px;
                flex: 1;
                span {
                    position: relative;
                    display: flex;
                }
                .prodName {
                    font-size: 14pt;
                    letter-spacing: 1px;
                }
                .prodQuantity {
                    font-size: 9pt;
                }
                .prodTotalPrice {
                    font-size: 11pt;
                    font-weight: bold;
                }
            }
        }
        .pay {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-end;
            span {
                gap: 2px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                font-size: 11pt;
            }
            .paymentMethod {
                color: $mainColor;
            }
        }
    }
    .buyer {
        width: 68%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        gap: 10px;
        position: relative;
        .date {
            width: 100%;
            text-align: right;
            font-size: 10pt;
            padding-right: 20px;
        }
        div {
            flex: 1;
            min-width: 40%;
            max-width: 50%;
            display: flex;
            flex-direction: column;
            border: 2px solid $mainColor;
            padding: 15px 25px;
            border-radius: 20px;
            gap: 5px;
            span {
                width: 100%;
                font-size: 11pt;
                font-weight: bold;
                color: $mainColor;
                b {
                    font-weight: normal;
                    color: #333;
                }
            }
        }
        .TrackingDiv {
            display: none;
            gap: 8px;
            flex-direction: column;
            overflow: hidden;
            max-height: 50px;
            transition: 1.5s;
            position: relative;
            i {
                position: absolute;
                top: 10px;
                right: 20px;
                font-size: 18pt;
                color: $mainColor;
                cursor: pointer;
                transition: transform 0.8s, color 0.1s;
                transition-delay: 0.7s;
                &:active {
                    color: #ddd;
                }
            }
            section {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $mainColor;
                &:last-child {
                    border-bottom: none;
                }
                span {
                    font-size: 12pt;
                }
                label {
                    font-size: 10pt;
                    color: #aaa;
                }
                small {
                    font-size: 8pt;
                    color: #878787;
                }
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .moreTracking {
            max-height: 1000px;
        }
        button {
            border: none;
            background-color: $mainColor;
            color: #fff;
            padding: 6px 40px;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 20px;
            align-self: flex-start;
            &:hover {
                filter: brightness(1.1);
            }
            &:active {
                filter: brightness(0.9);
            }
            &:disabled {
                cursor: initial;
                background-color: #ddd;
                color: #aaa;
                position: relative;
                &:after {
                    content: "Você já solicitou as instruções de cancelamento ou o prazo de cancelamento já expirou";
                    position: absolute;
                    pointer-events: none;
                    left: 80%;
                    top: 90%;
                    opacity: 0;
                    box-sizing: border-box;
                    padding: 5px 10px;
                    width: fit-content;
                    background-color: #fff;
                    color: #333;
                    border: 1px solid $mainColor;
                    border-radius: 10px;
                    z-index: 100;
                    transition: opacity 0.5s;
                    font-size: 0.9em;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .termsLink {
        text-decoration: none;
        color: $mainColor;
        justify-self: flex-start;
        margin-left: 20px;
    }
}
#cancelBox {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, 0.2);
    justify-content: center;
    align-items: center;
    display: none;
    backdrop-filter: blur(10px);
    .cancel {
        transform: scale(0);
        transition: 1s;
        width: 600px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 30px 40px;
        position: relative;
        order: -1;
        #closeCancel {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20pt;
            color: #000;
            cursor: pointer;
            z-index: 9999;
            &:hover {
                color: #999;
            }
        }
        h3 {
            font-size: 18pt;
            font-weight: bold;
            margin-bottom: 5px;
            color: $mainColor;
            text-align: center;
        }
        p {
            text-align: center;
            font-size: 14pt;
        }
        a {
            text-align: center;
            font-size: 12pt;
            color: $mainColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .redirect {
            text-align: center;
        }
        label {
            text-align: center;
            font-size: 12pt;
            width: 100%;
            color: #878787;
        }
        textarea {
            text-align: center;
            margin: 0;
            width: 100%;
            height: 100px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            resize: none;
        }
        button {
            width: 60%;
            border: none;
            background-color: $mainColor;
            color: #fff;
            padding: 5px 0;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            font-size: 12pt;
            &:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }
            &:active {
                filter: brightness(0.9);
            }
        }
        small {
            font-size: 10pt;
            color: #aaa;
        }
    }
    .show {
        transform: scale(1);
    }
}

//x @medias

@media (max-width: $deskWidth) {
    .status {
        justify-content: space-between;
        width: 100%;
        column-gap: 0;
        .progress {
            width: 98%;
            margin: 0 auto;
            //transform: scale(0.9);
            .pass .passIcon .passName {
                width: fit-content;
                text-align: center;
                bottom: 0px;
                line-height: 1.3em;
                transform: translateY(110%);
            }
        }
        .prodShow {
            width: 35%;
        }
        .buyer {
            width: 60%;
        }
    }
}
@media (max-width: 840px) {
    .status {
        column-gap: 0;
        .progress {
            .passIcon {
                width: 43px;
                height: 43px;
                font-size: 15pt;
                margin: 0;
            }

            .arrows i:nth-child(3n),
            .arrows i:nth-child(1) {
                display: none;
            }
        }
        .buyer {
            flex-direction: column;
            align-items: center;
            div {
                width: 90%;
                max-width: 90%;
            }
        }
        .prodShow {
            .prod .info .prodName {
                font-size: 11pt;
            }
        }
    }
}

@media (max-width: 630px) {
    .status {
        flex-direction: column;
        align-items: center;
        .progress {
            width: 90%;
            .pass {
                .passIcon .passName {
                    font-size: 10pt;
                }

                .arrows i:nth-child(3n),
                .arrows i:nth-child(1) {
                    display: flex;
                }
                .arrows i:nth-child(2n) {
                    display: none;
                }
            }
        }
        .prodShow {
            width: 90%;
            order: 1;
        }

        .termsLink {
            order: 2;
        }
        .buyer {
            width: 90%;
            button {
                align-self: flex-end;
                margin-top: 5px;
                margin-left: auto;
                font-size: 11pt;
                padding: 2px 0;
                box-sizing: border-box;
                width: 30%;
                font-size: 10pt;
                margin-left: 5%;

                &:disabled ::after {
                    font-size: 10pt;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .status {
        .progress {
            .pass {
                .passIcon {
                    width: 40px;
                    height: 40px;
                    font-size: 13pt;
                    margin: 0 1px;
                }
                .arrows i:nth-child(3n) {
                    display: flex;
                }
                .arrows i:nth-child(2n) {
                    display: none;
                }
            }
        }
        .buyer {
            width: 100%;
            div {
                border-left: none;
                border-right: none;
                border-radius: 0;
                width: 100%;
                box-sizing: border-box;
                max-width: 100%;
                //padding: 10px 0;
            }
        }
    }
}
@media (max-width: 460px) {
    .status {
        width: 100%;

        .progress {
            .pass {
                .passIcon {
                    width: 34px;
                    height: 34px;
                    font-size: 11pt;
                    margin: 0;
                    .passName {
                        font-size: 8.6pt;
                    }
                }
                .arrows {
                    i {
                        font-size: 11pt;
                    }
                }
                .arrows i:nth-child(3n) {
                    display: flex;
                }
                .arrows i:nth-child(2n) {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .status {
        .progress {
            .pass {
                .passIcon {
                    width: 5px;
                    height: 5px;
                    overflow: hidden;
                    margin: 0;
                    font-size: 0;
                    background-color: #ddd;
                    margin: 0 1px;
                    .passName {
                        font-size: 7pt;
                    }
                }
                .arrows {
                    i {
                        color: transparent;
                        background-color: #ddd;
                        width: 5px;
                        height: 5px;
                        overflow: hidden;
                        color: #ddd;
                        font-size: 0;
                        margin: 0 1px;
                        border-radius: 50%;
                    }
                }
                .arrows i:nth-child(3n) {
                    display: flex;
                }
                .arrows i:nth-child(2n) {
                    display: none;
                }
            }

            .doing {
                .passIcon {
                    background-color: $mainColor;
                    color: #fff;
                    border: 1px solid $mainColor;
                    width: 28px;
                    height: 28px;
                    overflow: visible;
                    font-size: 10pt;
                }
                .arrows:nth-child(2) {
                    i {
                        background-color: $mainColor;
                    }
                }
            }
            .done {
                .passIcon {
                    background-color: $mainColor;
                    border: 1px solid $mainColor;
                    color: #fff;
                    width: 28px;
                    height: 28px;
                    overflow: visible;
                    font-size: 10pt;
                }
                .arrows {
                    i {
                        background-color: $mainColor;
                    }
                }
            }
        }
        .buyer {
            button {
                width: 50%;
                font-size: 10pt;
            }
        }
    }
    #cancelBox {
        .cancel {
            #closeCancel {
                font-size: 19pt;
                color: #f99;
                margin: 0 auto;
                right: inherit;
                top: -15px;
                width: 30px;
                height: 30px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            width: 100%;
            padding: 20px 5px;
            h3 {
                font-size: 18pt;
            }
            p {
                font-size: 12pt;
            }
            a {
                font-size: 11pt;
            }
            label {
                font-size: 10pt;
            }
            textarea {
                width: 90%;
                font-size: 10pt;
            }
            button {
                font-size: 11pt;
                padding: 2px 0;
                width: 50%;
            }
        }
    }
}

@media (max-width: 300px) {
    .status .progress .pass .arrows i:nth-child(3n) {
        display: none;
    }
    #cancelBox {
        .cancel {

            h3 {
                font-size: 15pt;
            }
            p {
                font-size: 11pt;
            }
            a {
                font-size: 10pt;
            }
            label {
                font-size: 9pt;
            }
            textarea {
                width: 90%;
                font-size: 9pt;
            }
            button {
                font-size: 10pt;
                padding: 2px 0;
                width: 80%;
            }
        }
    }
}
/*
@media (max-width: 550px) {
    .status {
        width: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .progress {
            gap: 1px;
            transform: scale(0.75);
            order: -2;
        }
        .buyer {
            order: -1;
            width: 100%;
            margin: 0 auto;
            position: relative;
            div {
                width: 80%;
            }
        }
        .prodShow {
            margin-top: 1px solid $mainColor;
            width: 100%;
            .prod {
                width: 95%;
            }
            .pay {
                margin: 0 20px;
            }
        }
    }
}

@media (max-width: 550px) {
    .status {
        .progress {
            .pass {
                .arrows i:nth-child(3n) {
                    display: none;
                }
                i {
                    width: 45px;
                    height: 45px;
                    font-size: 15pt;
                }
            }
        }
        .buyer div h3 {
            font-size: 1em;
        }
        .buyer div span {
            font-size: 10pt;
        }
    }
}

@media (max-width: 400px) {
    .status {
        .progress {
            gap: 0px;

            transform: scale(0.7);
        }
    }
}
@media (max-width: 350px) {
    .status {
        .progress {
            gap: 0px;

            transform: scale(0.65);
            .arrows {
                i {
                    font-size: 11pt;
                }
            }
        }
    }
}
@media (max-width: 300px) {
    .status {
        width: 100%;
        .progress {
            gap: 0px;

            transform: scale(0.55);
            .arrows {
                i {
                    font-size: 10pt;
                }
            }
        }
    }
}
*/
