.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    width: $deskWidth;
    gap: 20px;

    .progress {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        .pass {
            display: flex;
            position: relative;
            i {
                width: 55px;
                height: 55px;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17pt;
                background-color: #fff;
                border: 1px solid #ddd;
                color: $mainColor;
                margin: 0 10px;
                position: relative;
                .passName {
                    position: absolute;
                    bottom: -25px;
                    color: $mainColor;
                    font-size: 14px;
                    width: 150px;
                    display: flex;
                    justify-content: center;
                    //background-color: #f0f;
                }
            }
            .finalIcon {
                //disputIcon
                display: none;
            }
            .arrows {
                display: flex;
                i {
                    font-size: 13pt;
                    width: 11.5px;
                    background-color: transparent;
                    color: #ddd;
                    margin: 0;
                    border: none;
                }
            }
        }
        .doing {
            i {
                background-color: $mainColor;
                color: #fff;
                border: 1px solid $mainColor;
            }
            .arrows:nth-child(2) {
                i {
                    color: $mainColor;
                }
            }
        }
        .done {
            i {
                background-color: $mainColor;
                border: 1px solid $mainColor;

                color: #fff;
            }
            .arrows {
                i {
                    color: $mainColor;
                }
            }
        }
    }
    .prodShow {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        .prod {
            display: flex;
            justify-content: flex-start;
            gap: 5px;
            padding: 5px 0;
            height: 65px;
            width: 100%;
            align-items: center;
            border-bottom: 2px solid $mainColor;
            .image {
                width: 65px;
                height: 65px;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0px;
                flex: 1;
                span {
                    position: relative;
                    display: flex;
                }
                .prodName {
                    font-size: 14pt;
                    letter-spacing: 1px;
                }
                .prodQuantity {
                    font-size: 9pt;
                }
                .prodTotalPrice {
                    font-size: 11pt;
                    font-weight: bold;
                }
            }
        }
        .pay {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-end;
            span {
                gap: 2px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                font-weight: bold;
                font-size: 11pt;
            }
            .paymentMethod {
                color: $mainColor;
            }
        }
    }
    .buyer {
        width: 68%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        gap: 10px;
        position: relative;
        .date {
            width: 100%;
            text-align: right;
            font-size: 10pt;
        }
        div {
            width: 40%;
            display: flex;
            flex-direction: column;
            border: 2px solid $mainColor;
            padding: 15px 25px;
            border-radius: 30px;
            gap: 5px;
            span {
                width: 100%;
                font-size: 11pt;
                font-weight: bold;
                color: $mainColor;
                b {
                    font-weight: normal;
                    color: #333;
                }
            }
        }
        .TrackingDiv {
            display: none;
            gap: 8px;
            flex-direction: column;
            overflow: hidden;
            height: 70px;
            section {
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $mainColor;
                &:last-child {
                    border-bottom: none;
                }
                span {
                    font-size: 12pt;
                }
                label {
                    font-size: 10pt;
                    color: #aaa;
                }
                small {
                    font-size: 8pt;
                    color: #878787;
                }
                position: relative;
                i {
                    position: absolute;
                    bottom: 10px;
                    right: 20px;
                    font-size: 18pt;
                    color: $mainColor;
                    cursor: pointer;
                    transition: transform 0.5s, color 0.1s;
                
                    &:active {
                        color: #ddd;
                    }
                }
            }
            .rotate {
                transform: rotate(180deg);
            }
        }
        .moreTracking {
            height: inherit;
        }
        button {
            border: none;
            background-color: $mainColor;
            color: #fff;
            padding: 6px 40px;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 20px;
            align-self: flex-start;
            &:hover {
                filter: brightness(1.1);
            }
            &:active {
                filter: brightness(0.9);
            }
            &:disabled {
                cursor: initial;
                background-color: #ddd;
                color: #aaa;
                &:hover {
                    filter: brightness(1);
                }
            }
        }
    }
}
#cancelBox {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, 0.2);
    justify-content: center;
    align-items: center;
    display: none;
    backdrop-filter: blur(10px);
    .cancel {
        transform: scale(0);
        transition: 1s;
        width: 600px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 30px 40px;
        position: relative;
        order: -1;
        #closeCancel {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20pt;
            color: #000;
            cursor: pointer;
            z-index: 9999;
            &:hover {
                color: #999;
            }
        }
        h3 {
            font-size: 18pt;
            font-weight: bold;
            margin-bottom: 5px;
            color: $mainColor;
        }
        p {
            font-size: 14pt;
        }
        a {
            font-size: 12pt;
            color: $mainColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        label {
            font-size: 12pt;
            width: 100%;
            color: #878787;
        }
        textarea {
            margin: 0;
            width: 100%;
            height: 100px;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            resize: none;
        }
        button {
            width: 40%;
            border: none;
            background-color: $mainColor;
            color: #fff;
            padding: 10px;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            font-size: 12pt;
            &:hover {
                cursor: pointer;
                filter: brightness(1.1);
            }
            &:active {
                filter: brightness(0.9);
            }
        }
        small {
            font-size: 10pt;
            color: #aaa;
        }
    }
    .show {
        transform: scale(1);
    }
}

@media (max-width: $deskWidth) {
    .status {
        width: 90%;
        justify-content: space-around;
        .progress {
            width: 80%;
            margin: 0 auto;
            transform: scale(0.9);
        }
        .prodShow {
            width: 45%;
        }
        .buyer {
            flex-direction: column;
            width: 45%;
            align-items: center;
            div {
                width: 100%;
            }
        }
    }
}
@media (max-width: 950px) {
    .status {
        .progress {
            width: 60%;
            gap: 15px;
            .pass {
                i {
                    .passName {
                        width: 100px;
                        text-align: center;
                        bottom: -30px;
                    }
                }
                .arrows i:nth-child(even) {
                    display: none;
                }
            }
        }
        .buyer {
            div {
                width: 90%;
            }
        }
    }
}
@media (max-width: 680px) {
    .status {
        .progress {
            gap: 5px;
            transform: scale(0.9);
        }
    }
}

@media (max-width: 680px) {
    .status {
        .progress {
            gap: 4px;

            transform: scale(0.8);
        }
    }
}
@media (max-width: 550px) {
    .status {
        width: 95%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .progress {
            gap: 1px;
            transform: scale(0.75);
            order: -2;
        }
        .buyer {
            order: -1;
            width: 100%;
            margin: 0 auto;
            position: relative;
            div {
                width: 80%;
            }
        }
        .prodShow {
            margin-top: 1px solid $mainColor;
            width: 100%;
            .prod {
                width: 95%;
            }
            .pay {
                margin: 0 20px;
            }
        }
    }
}

@media (max-width: 550px) {
    .status {
        .progress {
            .pass {
                .arrows i:nth-child(3n) {
                    display: none;
                }
                i {
                    width: 45px;
                    height: 45px;
                    font-size: 15pt;
                }
            }
        }
        .buyer div h3 {
            font-size: 1em;
        }
        .buyer div span {
            font-size: 10pt;
        }
    }
}

@media (max-width: 400px) {
    .status {
        .progress {
            gap: 0px;

            transform: scale(0.7);
        }
    }
}
@media (max-width: 350px) {
    .status {
        .progress {
            gap: 0px;

            transform: scale(0.65);
            .arrows {
                i {
                    font-size: 11pt;
                }
            }
        }
    }
}
@media (max-width: 300px) {
    .status {
        width: 100%;
        .progress {
            gap: 0px;

            transform: scale(0.55);
            .arrows {
                i {
                    font-size: 10pt;
                }
            }
        }
    }
}
