$deskWidth: 1100px;
$mainColor: #b66d76;
$hoverColor: #666;

* {
    padding: 0;
    margin: 0;
    font-family: "Myriad Pro";

}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.glider-dot.active {
    background-color: $mainColor;
    border: 1px solid #ffffff88;
    transition: 1s;
    transform: scale(1.05);
}

.blockBody{
    overflow: hidden;
}

@media (max-width: 400px) {
    .glider-dot {
        width: 10px;
        height: 10px;
    }
}

@import "banner";
@import "fonts";
@import "header";
@import "footer";
@import "productModel";

@import "home/home";

@import "about";
@import "product";
@import "products";
@import "cart";
@import "form";
@import "checkout";
@import "checkStatus";
@import "status";
@import "unsubscribe";
@import "terms";
@import "retorno";
