* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    .content {
        background-color: #dff;
        display: flex;
        flex-direction: column;
        width: 1000px;
        div {
            display: flex;
            justify-content: space-between;

        }
    }
}
