.pgName{
    display: block;
    border-bottom: 2px solid $mainColor;
    margin: 20px auto;
    font-size: 15pt;
    color: #666;
    width: $devWid;
}

.cart{
    width: $devWid;
    margin: 0 auto;
    display: flex;
    display: flex;
    flex-direction: row;




    .items{
        flex: 6;
        width: 80%;
        //background-color: #fdf;
        display: flex;
        flex-direction: column;
        
        .item{
            width: 100%;
            //background-color: #ffd;
            height: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #999;
            .prodImg{

                border: 1px solid $mainColor;
                width: 110px;
                height: 110px;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                img{
                    height: 100%;
                }
            }

            .nameDesc{
                display: flex;
                flex-direction: column;
                flex: 2;
                .name{
                    font-size: 14pt;
                    font-weight: 0;
                    color: #666;
                }
                #itemDesc, p{
                    color: #999;
                    font-size: 9pt;
                    height: 90%;
                    max-width: 90%;
                    //background-color: #99f;
                    text-overflow: ellipsis;
                }
            }
            .prodQtd{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 40px;
                    text-align: center;
                    padding: 2px 0;
                    border: none;
                    border: 1px solid #ddd;
                }
            }
            .prodPrice{
                flex: 1;
                display: flex;
                justify-content:space-between;
                align-items: center;
                flex-direction: column;
                height: 35%;
                
            }
            .totalPrice{
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 35%;
            }
            i{
                color: #555;
                font-size: 16pt;
            }
        }
    }
    .resume{
        margin-left: 40px;
        flex: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 100%;
        h4{
            color: #666;
            margin: 10px;
            -webkit-margin-collapse: collapse;
            padding: 0;
            font-weight: normal;
        }
        .prodRes{
            border-bottom: 1px solid rgba(189, 189, 189, 0.377);
            display: flex;
            justify-content: space-between;
            margin: 5px;
            width: 90%;
            padding: 2px 0;
            .name{
                font-size: 11pt;
                color: #999;
            }
            .price{
                color: #999;
                font-size: 11pt;

            }
        }
        .buy{
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 15px 0;
            align-items: center;
            button{
                display: block;
                border: none;
                background-color: #48b500;
                color: #fff;
                font-size: 10pt;
                padding: 4px 0;
                margin-right: 0px;
                border-radius: 10px;
                width: 60%;
                &:hover{
                    cursor: pointer;
                background-color: #368600;

                }
            }
            .total{
                color: $mainColor;
                font-size: 11pt;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .cart{
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    .cart{
        flex-direction: column;
        align-items: center;
        .items{
            width: 95%;
        }

        .resume{
            align-self: flex-end;
            margin-top: 20px;
            margin-right: 20px;
            width: 50%;
            
            .buy{
                height: 40px;
                button{
                    padding: 6px 0;
                    border-radius: 20px;
                }
            }
        }


    }
}