footer {
    border-top: 1px solid $mainColor;
    width: 100%;
    height: 200px;
    
    .footerContent {
        width: $devWid;
        margin: 0 auto;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        * {
            margin: 5px 20px;
        }
        ul {
            padding: 0;
            
            li {
                list-style: none;
                
                a {
                    padding: 0;
                    font-family: $font;
                    font-size: 10pt;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        img {
            width: 100px;
        }
        a {
            align-self: flex-end;
        }
        .incubeLogo {
            width: 30px;
        }
    }
}

@media screen and (max-width: 1100px) {
    footer {
        .footerContent {
            width: 100%;
        }
    }
}

@media screen and (max-width: 700px) {
    footer {
        .footerContent {
            * {
                margin: 5px;
                width: 100%;
            }
            .incubeLogo {
                width: 45px;
            }
        }
    }
}
