header {
    width: 100%;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba($mainColor, 0.8);
    .headerContent {
        width: $devWid;
        height: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            $imgsz: 70px;
            width: $imgsz;
            height: $imgsz * 0.55;
            margin-left: 25px;
        }

        .menu {
            height: 100%;
            flex: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            ul {
                width: 90%;
                padding: 0;
                display: flex;
                justify-content: space-around;
                li {
                    color: #000;
                    cursor: pointer;
                    font-size: 13px;
                    letter-spacing: 1.4px;
                    list-style: none;
                    font-family: $font;
                    a {
                        font-weight: 0;
                        color: #888;
                        transition: 0.5s;
                        font-weight: lighter;
                    }
                    a:hover {
                        color: $mainColor;
                    }
                }
            }
        }

        .social {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            flex: 0.6;

            a i {
                font-size: 20pt;
                color: #999;
                transition: 0.5s;
            }
            .fa-instagram:hover {
                color: rgb(255, 181, 181);
            }
            .fa-whatsapp:hover {
                color: rgb(0, 180, 0);
            }
        }
        .search {
            flex: 1;
            height: 90%;

            display: flex;
            justify-content: center;
            align-items: center;
            //background-color: #0ff;
            input {
                flex: 1;
                border: 1px solid #999;
                padding: 9px 10px;
                font-size: 9pt;

                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                border-right: none;
                margin-left: 10px;
                height: 100%;
            }
            .fa-search {
                margin-right: 20px;
                font-size: 9pt;
                text-align: center;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                border: 1px solid #999;
                padding: 10px;
                display: block;
                height: 100%;
                position: relative;
                border-left: none;
                color: #999;

                &:hover {
                    color: #666;
                }
            }
        }
    }
    .fa-shopping-cart {
        font-size: 16pt;
        text-align: center;
        color: #999;
        transition: 0.5s;
        &:hover {
            color: #333;
            cursor: pointer;
        }
    }

    .toggleMenuContent {
        display: none;
    }
}
.searchResp {
    display: none;
}

.menuFixed {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 99999;
    transition: all 0.8s;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid $mainColor;
    transition: 1s;

    .menuFContent {
        width: $devWid;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;

            span {
                font-family: $font;
                font-size: 9pt;
                margin-right: 10px;
                color: #666;
            }

            input {
                width: 60px;
                padding: 2px 5px;
                border: none;
                border: 1px solid #999;
            }

            select {
                width: 160px;
                flex: 1;
                text-align: center;
                padding: 1px 0;
            }
        }
        .sel {
            flex: 1;
        }
        .search {
            flex: 1;
            padding: 5px 2px;

            border: 1px solid #999;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            height: 25px;
            margin: 0 15px;
            input {
                width: 90%;
                border: none;
                font-family: $font;
                font-size: 8pt;
            }
            i {
                padding: 0 5px;
                width: 10%;
                border: none;
                cursor: pointer;
            }
        }
    }
}

.on {
    display: flex;
}

@media screen and (max-width: 1100px) {
    .menuFixed {
        width: 100%;
        .menuFContent {
            transition: 1s;
            width: 100%;
            div {
                flex: 0.8;
                select {
                    width: 100px;

                    text-align: center;
                    padding: 1px 0;
                }
            }
        }
    }
}

.filter {
    display: none;
}

@media screen and (max-width: 1100px) {
    header {
        .headerContent {
            width: 100%;
        }
    }
}

@media screen and (max-width: 980px) {
    .menuFixed {
        height: 40px;
        .menuFContent {
            display: none;
        }
    }

    .filterMobile {
        background-color: #ffafeb;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;

        flex-direction: column;
        .menuFContent {
            order: 2;
            display: flex;
            background-color: rgba(255, 255, 255, 1);
            flex-direction: column;
            align-items: flex-start;
            div {
                margin-left: 50px;
            }
            .search {
                order: -1;
                flex: 0;
                height: 50px;
                align-self: center;
            }
        }
    }

    .filter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font;
        * {
            color: #8a8484;
            margin: 4px;
        }
        .fa-angle-down {
            font-size: 20pt;
            cursor: pointer;
            transition: 0.5s;
            align-self: center;
        }
        .on {
            transform: rotate(180deg);
            align-self: flex-end;
        }
    }
}



/* Header Responsive */
@media screen and (max-width: 900px) {
    header {
        height: 60px;
        .headerContent {
            img {
                $imgsz: 60px;
                width: $imgsz;
                height: $imgsz * 0.6;
                margin-left: 5px;
                margin-right: 10px;
            }

            .social {
                flex: 0.6;
                a i {
                    font-size: 20pt;
                }
            }

            .menu {
                ul {
                    li {
                        font-size: 13px;
                        letter-spacing: 1px;
                        list-style: none;
                        font-weight: 500;
                        font-family: $font;

                        a {
                            color: #888;
                            transition: 0.5s;
                            font-weight: lighter;
                        }
                        a:hover {
                            color: $mainColor;
                        }
                    }
                }
            }

            .search {
                height: 15px;
                input {
                    padding: 7px 10px;
                    font-size: 10pt;
                }
                .fa-search {
                    font-size: 11pt;

                    padding: 7px;
                }
            }
            .fa-shopping-cart {
                font-size: 16pt;
                margin-right: 10px;
            }
        }
    }
}

//500px - 700px
@media screen and (max-width: 700px) {
    header {
        .headerContent {
            * {
                margin: 0;
            }
            img {
                $imgsz: 80px;
                width: $imgsz;
                height: $imgsz * 0.6;
            }

            .social {
                flex: 1;
                order: -1;
            }

            .menu {
                display: none;
            }

            .menuOpen {
                z-index: 2;
                display: flex;
                overflow: hidden;
                position: fixed;
                top: 0;
                left: 0;
                background-color: rgba(245, 48, 163, 0.8);
                width: 100vw;
                height: 100vh;
                transition: 1s;

                ul {
                    flex-direction: column;
                    align-items: center;
                    margin-top: -120px;
                    li {
                        font-size: 16pt;
                        letter-spacing: 1.4px;
                        list-style: none;
                        font-weight: 100;
                        font-family: $font;
                        margin: 15px 0;

                        a {
                            color: #ddd;
                            transition: 0.5s;
                            font-weight: lighter;
                        }
                        a:hover {
                            color: $mainColor;
                        }
                    }
                }
            }

            .fa-shopping-cart {
                flex: 1;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                position: relative;
                right: 20px;
            }
            .search {
                display: none;
            }

            .toggleMenuContent {
                z-index: 5;
                display: block;
                position: absolute;
                right: 10px;
                flex: 0.1;
                .toggleMenu {
                    cursor: pointer;
                    float: right;
                    $tgMenuSz: 40px;
                    $padding: 10px;
                    padding: $padding/2 0;
                    width: $tgMenuSz;
                    height: $tgMenuSz - $padding;
                    border-radius: $tgMenuSz * 0.2;
                    background-color: #ccc;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    .bars {
                        width: $tgMenuSz/2;

                        height: 2px;
                        background-color: #666;
                        transition: 0.3s;
                    }
                    .B1 {
                        background-color: #fff;
                        transform: rotate(45deg);
                        width: $tgMenuSz * 0.7;
                        position: absolute;
                        height: 3px;
                    }
                    .B2 {
                        background-color: #fff;
                        display: none;
                        position: absolute;
                    }
                    .B3 {
                        height: 3px;
                        background-color: #fff;
                        width: $tgMenuSz * 0.7;
                        transform: rotate(-45deg);
                        position: absolute;
                    }
                }
            }

            .toggleOn {
                position: fixed;
                right: 15px;
            }
        }
    }
    .searchResp {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        //background-color: #09c;
        input {
            flex: 1;
            border: 1px solid #999;
            padding: 7px 20px;
            font-size: 12pt;

            //border-top-left-radius: 30px;
            //border-bottom-left-radius: 30px;
            border-right: none;
            border-top: 1px solid $mainColor;
        }
        .fa-search {
            font-size: 12pt;
            text-align: center;
            //border-top-right-radius: 30px;
            //border-bottom-right-radius: 30px;
            border: 1px solid #999;
            padding: 8px;
            border-left: none;
            color: #999;
            border-top: 1px solid $mainColor;

            &:hover {
                color: #666;
            }
        }
    }
}
