
.products {
    width: $devWid;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow: hidden;
    padding-top: 40px;
    .product {
        width: 250px;
        height: 300px;
        margin: 20px auto;

        border: 1px solid $mainColor;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        background-color: #eee;
        * {
            margin: 0;
        }
        padding-bottom: 10px;
        .imgContainer {
            height: 70%;
            width: 70%;
            background-image: url("../prod.png");
            background-color: #eee;
            padding: 0 15%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            .promo {
                float: right;
                position: relative;
                margin-top: 25px;
                background-color: $mainColor;
                color: #fff;
                width: 30%;
                padding: 2px 20px;
                text-align: center;
                right: -23%;
                font-size: 10pt;
                font-weight: 100;
                font-family: $font;
            }
        }
        .name {
            font-family: $font;
            color: #666;
            font-size: 10pt;
        }

        .price {
            color: $mainColor;
            font-family: $font;
            font-size: 14pt;
        }

        .credit {
            color: #999;
            font-family: $font;
            font-size: 8pt;
        }
        i {
            color: #777;
            font-size: 17pt;
            &:hover {
                color: $mainColor;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .products {
        width: 98%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}

@media screen and (max-width: 580px) {
    .products {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        .product {
            width: 45%;
            height: 250px;
        }
    }
}

@media screen and (max-width: 450px) {
    .products {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        .product {
            width: 98%;
            height: 250px;
            padding: 10px 0;
            flex-direction: row;
            flex-wrap: wrap;
            .name {
                margin-top: 15px;
            }
        }
    }
}