* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial";
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;

    .circle {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d83133;
        clip-path: circle(120px at center);
        transition: 0.5s;

        &:hover{

            background-color: ;
            clip-path: circle(400px at center);
        }
    }
}
