.adminBannerContainer {
    padding-bottom: 100px;
    width: 100%;
    align-items: center;
    button {
        width: 280px;
        margin-top: 40px;
        //align-self: flex-start;
        margin-left: 50px;
    }
    .bannerShow {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;

        padding-bottom: 20px;
        border-bottom: 1px solid $mainColor;
        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 20%;
            span {
                width: 100%;
                text-align: left;
                font-size: 1.2rem;
                font-weight: bold;
                color: $mainColor;
            }
            .prev {
                border: 1px solid #ddd;
                border-top: 20px solid #ddd;
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .images {
                    width: 100%;
                    background-color: $mainColor;
                    position: relative;
                    overflow: hidden;
                    aspect-ratio: 2.5/1;
                    display: flex;
                    justify-content: center;
                    img {
                        margin: 0 15%;
                        width: 70%;
                        height: 100%;
                        aspect-ratio: 2/1;
                        z-index: 1;
                        position: absolute;
                        top: 0;
                        margin: auto;
                        transition: 0.8s;
                    }
                    &::after {
                        content: "1100px x 550px";

                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                    }
                }
            }
            .simu {
                width: 70%;
                padding: 5px 0;
                padding: 20px;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                justify-content: space-between;
                p {
                    width: 15%;
                    aspect-ratio: 1.4/2;
                    background-color: #ddd;
                }
                b {
                    width: 100%;
                    height: 8px;
                    background-color: #ddd;
                }
            }
        }

        .bannerContainer {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            width: 70%;
            p {
                width: 90%;
                color: #666;
                position: relative;
            }
            .preview {
                //2.2 / 1
                width: 30%;
                height: auto;
                aspect-ratio: 1100/550;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;
                border: 1px solid $mainColor;

                img {
                    display: block;
                    width: 100%;
                    aspect-ratio: 1100/550;
                    position: relative;
                    pointer-events: none;
                }
                input[type="file"] {
                    position: absolute;
                    background-color: #ddd;
                    background-image: url("img/plus.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30%;
                    width: 100%;
                    aspect-ratio: 1100/550;

                    font-size: 0pt;
                    color: transparent;
                    cursor: pointer;
                    &::-webkit-file-upload-button {
                        display: none;
                    }
                }
                i {
                    position: absolute;
                    right: 4px;
                    top: 5px;
                    color: #ff0220;
                    font-size: 10pt;
                    cursor: pointer;
                    &:hover {
                        color: rgb(119, 119, 119);
                    }
                }
            }
        }
    }
}
