.purchasesShippingConfig {
    input[type="text"],
    input[type="number"] {
        border: none;
        background-color: #fff;
        border: 1px solid $mainColor;
        border-radius: 30px;
        padding: 3px 0;
        text-align: center;
    }
    .shipConfigContent {
        padding-bottom: 80px;

        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        .cupom {
            min-width: 450px;
            .boxTitle {
                margin-bottom: 0;
                
                #newCupom{
                    font-size: 14pt;
                    margin-left: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #999;
                    }
                }
            }
            .cuponsList {
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                #CuponsList {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 10px;
                    .showCupom {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding: 10px 0;
                        border-bottom: 1px solid $mainColor;
                        &:last-child {
                            border-bottom: none;
                        }
                        .ticker {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            font-size: 15pt;
                            color: $mainColor;
                            font-weight: bold;
                        }
                        .useTimes {
                            width: 25%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 10pt;
                            text-align: center;
                            color: #333;
                        }
                        .edit {
                            display: flex;
                            align-items: center;
                            font-size: 13pt;
                            color: $mainColor;
                            cursor: pointer;
                            &:hover {
                                color: #9a9a9a;
                            }
                        }
                        .delete{
                            position: relative;
                        }
                        .quantityBox {
                            width: 80%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            .loading {
                                width: 90%;
                                height: 1em;
                                border: 1px solid $mainColor;
                                background-color: #fff;
                                border-radius: 40px;
                                overflow: hidden;
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: auto;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 1em;
                                    background-color: rgba($mainColor, 0.9);
                                    border-radius: 40px;
                                    background-size: 4%;
                                    transform: translateX(calc(var(--L) - 100%));
                                }
                            }
                            .used,
                            .remain,
                            .total {
                                width: 20%;
                                display: flex;
                                align-items: center;
                                color: #333;
                                text-align: center;
                                font-size: 11pt;
                                b {
                                    margin: 0 5px;
                                    color: $mainColor;
                                }
                            }
                            .remain {
                                font-size: 12pt;
                                color: $mainColor;
                                font-weight: bold;
                            }
                        }
                        .value {
                            width: 20%;
                            text-align: center;
                            font-size: 16pt;
                            color: $mainColor;
                        }
                    }
                }
            }
            //overflow: hidden;

            .modalCupom {
                position: absolute;
                opacity: 0;
                transition: 1s;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                display: none;
                top: 0;
                left: 0;
                overflow: hidden;
                background-color: rgba($mainColor, 0.8);
                backdrop-filter: blur(10px);
                border-radius: 30px;

                min-height: 280px;
                #closeModalCupom{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: 99;
                    font-size: 15pt;
                    color: #fff;
                    cursor: pointer;
                }
                .modalCupomShow {
                    transition: 1s;

                    width: 100%;
                    //height: 100%;
                  
                    top: 0;
                    display: flex;
                    left: 0;
                    max-height: 350px;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    color: #fff;
                    padding: 10px;
                    gap: 10px;
                    min-height: 280px;
                    transform: translateY(-100%);
                    .modalCupomHeader {
                        font-size: 13pt;
                    }
                    #SaveCupom {
                        width: 80%;
                        margin-top: 20px;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        span {
                            font-size: 11pt;
                            margin-right: 10px;
                        }
                        input[type="text"],
                        input[type="number"] {
                            border: none;
                            background-color: #ffffff00;
                            border-radius: 0;
                            font-size: 15pt;
                            color: #fff;
                            border-bottom: 1px solid #fff;
                            width: 160px;
                            text-align: center;
                            outline: none;
                            &::placeholder {
                                color: #ffffff86;
                                font-size: 13pt;
                            }
                        }
                        input[type="number"] {
                            width: 100px;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            &::placeholder {
                                color: #ffffff86;
                                font-size: 15pt;
                            }
                        }

                        input[type="radio"] {
                            accent-color: $mainColor;
                            margin: 0 5px;
                        }

                        b {
                            font-size: 12pt;
                            i {
                                font-size: 11pt;
                                &:last-child {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .modalCupomActive {
                opacity: 1;
                .modalCupomShow {
                    transform: translateY(0%);
                }
            }
        }
        .freteGratis {
            button {
                width: 80%;
                margin: 20px auto;
            }
            width: 30%;
            * {
                transition: color 0.5s border-color 0.5s;
            }
            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin-bottom: 20px;
                span {
                    font-size: 11pt;
                    font-weight: bold;
                    color: $mainColor;
                }
                .allfreelabel {
                    margin-left: 100px;
                }
                h4 {
                    font-weight: bold;
                    color: $mainColor;
                    font-size: 14pt;
                }

                label {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    input[type="checkbox"] {
                        appearance: none;
                        &:checked + h4 {
                            background-color: #fff;
                            border: 1px solid $mainColor;
                        }
                        &:checked + h4::after {
                            transform: translateX(80%);
                            background-color: $mainColor;
                        }
                    }
                    h4 {
                        width: 30px;
                        height: 18px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        background-color: #ccc;
                        border-radius: 20px;
                        cursor: pointer;
                        border: 1px solid #aaa;
                        transition: 0.6s;
                        &::after {
                            transition: 0.6s;
                            background-color: #999;
                            content: "";
                            position: absolute;
                            border-radius: 20px;
                            width: 14px;
                            height: 14px;
                            left: 2px;
                            top: 1px;
                            right: inherit;
                        }
                    }
                }
            }

            .selectFree {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 5px;
                div {
                    width: 40%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    &:nth-child(1) {
                        border-right: 1px solid $mainColor;
                        padding-right: 20px;
                    }
                    h3 {
                        margin-right: auto;

                        font-size: 13pt;
                        color: $mainColor;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        i {
                            font-size: 10pt;
                        }
                        label {
                            gap: 0;
                            span {
                                color: #333;
                                font-size: 10pt;
                                margin-right: 5px;
                            }

                            input[type="checkbox"] {
                                appearance: none;
                                &:checked + h4 {
                                    background-color: #fff;
                                    border: 1px solid $mainColor;
                                }
                                &:checked + h4::after {
                                    transform: translateX(90%);
                                    background-color: $mainColor;
                                }
                            }
                            h4 {
                                width: 28px;
                                height: 16px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                background-color: #ccc;
                                border-radius: 20px;
                                cursor: pointer;
                                border: 1px solid #aaa;
                                transition: 0.6s;
                                &::after {
                                    transition: 0.6s;
                                    background-color: #999;
                                    content: "";
                                    position: absolute;
                                    border-radius: 20px;
                                    width: 12px;
                                    height: 12px;
                                    left: 1px;
                                    top: 1px;
                                    right: inherit;
                                }
                            }
                        }
                    }
                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        label {
                            width: 85%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            text-align: center;
                            p {
                                width: 90%;
                                font-size: 11pt;
                            }
                            i {
                                cursor: pointer;
                                font-size: 11pt;

                                color: $mainColor;
                                transition: 0.1s;

                                &:hover {
                                    color: #f00;
                                }
                                &:active {
                                    filter: brightness(0.8);
                                }
                            }
                        }
                    }
                }
                .addF {
                    width: 80%;

                    flex-direction: column;
                    position: relative;
                    align-items: center;

                    gap: 10px;
                    padding-top: 10px;
                    border-top: 1px solid $mainColor;

                    label {
                        justify-content: flex-end;
                        width: 90%;

                        p {
                            font-weight: 11pt;
                            color: $mainColor;
                        }

                        &:last-child {
                            border: none;
                        }
                        input {
                            width: 130px;
                        }
                        i {
                            cursor: pointer;
                            color: $mainColor;
                            font-size: 14pt;
                            transition: 0.1s;
                            &:hover {
                                filter: brightness(1.4);
                            }
                            &:active {
                                filter: brightness(0.9);
                            }
                        }
                    }
                }
            }

            .noFreteGratis {
                * {
                    transition: 0.5s;
                    color: #ccc !important;
                    border-color: #ccc !important;
                    pointer-events: none;
                }
            }
        }
    }
}
