.purchasesShippingConfig {
    input[type="text"],
    input[type="number"] {
        border: none;
        background-color: #fff;
        border: 1px solid $mainColor;
        border-radius: 30px;
        padding: 3px 0;
        text-align: center;
    }
    .saveShip {
        width: 240px;
        align-self: flex-start;
        margin-left: 13%;
    }
    .shipConfigContent {
        padding-bottom: 80px;

        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: space-evenly;
        align-items: flex-start;

        * {
            transition: color 0.5s border-color 0.5s;
        }


        div {
            display: flex;
            flex-direction: column;
            label {
                display: flex;
                gap: 10px;
                align-items: center;
                span {
                    font-size: 11pt;
                    font-weight: bold;
                    color: $mainColor;
                }
            }
        }
        .Frete,
        .freteGratis {
            width: 30%;
            align-items: center;
            min-width: 410px;
            gap: 20px;
            border: 1px solid $mainColor;
            padding: 30px;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.1);
            height: 100%;
        }

        .previewSize {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .box {
                width: 120px;
                height: 110px;
                background-image: url("img/caixa.png");
                background-size: 125px;
                background-position: center;
            }
            .shipSizes {
                width: 70%;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;

                label {
                    width: 100%;
                    flex-direction: row;
                    gap: 0;
                    justify-content: space-between;
                    input {
                        width: 90px;
                        text-align: center;
                    }
                    span{
                        font-size: 11pt;
                        width: 60%;
                        text-align: left;
                    }
                    b {
                        color: $mainColor;
                    }
                }
            }
        }
        .freteGratis {
            width: 30%;
            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                h4 {
                    font-weight: bold;
                    color: $mainColor;
                    font-size: 14pt;
        
              
                }

                label {
                    input[type="checkbox"] {
                        appearance: none;
                        &:checked + .toggleFreteGratis {
                            background-color: #fff;
                            border: 1px solid $mainColor;
                        }
                        &:checked + .toggleFreteGratis::after {
                            transform: translateX(80%);
                            background-color: $mainColor;
                        }
                    }
                    .toggleFreteGratis {
                        width: 30px;
                        height: 18px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        background-color: #ccc;
                        border-radius: 20px;
                        cursor: pointer;
                        border: 1px solid #aaa;
                        transition: 0.6s;
                        &::after {
                            transition: 0.6s;
                            background-color: #999;
                            content: "";
                            position: absolute;
                            border-radius: 20px;
                            width: 14px;
                            height: 14px;
                            left: 2px;
                            top: 1px;
                            right: inherit;
                        }
                    }
                }
            }

            .selectFree {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: space-around;
                row-gap: 20px;
                div {
                    width: 40%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        margin-right: auto;

                        font-size: 13pt;
                        color: $mainColor;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        i{
                            font-size: 10pt;
                        }
                        button{
                            margin-left: 5px;
                            padding: 2px 0;
                            width: 130px;
                            font-size: 10pt;
                        }
                    }
                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        label {
                            width: 85%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            text-align: center;
                            p {
                                width: 90%;
                                font-size: 11pt;
                            }
                            i {
                                cursor: pointer;
                                font-size: 11pt;

                                color: $mainColor;
                                transition: 0.1s;

                                &:hover {
                                    color: #f00;
                                }
                                &:active {
                                    filter: brightness(0.8);
                                }
                            }
                        }
                    }
                    .add {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        text-align: center;
                        width: 85%;
                        position: relative;
                        input {
                            width: 90%;
                            margin: auto;
                            text-align: center;
                        }
                    }
                }
                .addF {
                    position: relative;

                    p {
                        font-weight: 11pt;
                        color: $mainColor;
                    }
                    width: 100%;
                    flex-direction: row;
                    margin-top: 20px;
                    justify-content: center;
                    gap: 10px;
                }
                i {
                    cursor: pointer;
                    color: $mainColor;
                    font-size: 14pt;
                    transition: 0.1s;
                    &:hover {
                        filter: brightness(1.4);
                    }
                    &:active {
                        filter: brightness(0.9);
                    }
                }
            }
            .noFreteGratis {
                * {
                    transition: 0.5s;
                    color: #ccc !important;
                    border-color: #ccc !important;
                    pointer-events: none;
                }
            }
        }
    }

}
