.adminHomeContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: repeat(4, 1fr);
    overflow: hidden;

    justify-content: space-around;
    place-items: center;
    padding: 20px 0;

    .infoAprovados {
        .infoHeader {
            color: $green;
            .infoHeaderIcon {
                border-color: $green;
                font-size: 1.75em;
            }
        }
    }
    .infoCancelados {
        .infoHeader {
            color: $red;
            .infoHeaderIcon {
                border-color: $red;
                font-size: 2em;

            }
        }
    }

    .infoEnvio {
        .infoHeader {
            color: $orange;
            .infoHeaderIcon {
                border-color: $orange;
            }
        }
    }

    .infoClients {
        .infoHeader {
            color: $purple;
            .infoHeaderIcon {
                border-color: $purple;
            }
        }
    }
    .infoVisitantes {
        .infoHeader {
            color: $LBlue;
            .infoHeaderIcon {
                border-color: $LBlue;
            }
        }
    }
    .infoNaoFinalizadas {
        grid-area: 4/4;
        .infoHeader {
            color: $purple;
            .infoHeaderIcon {
                border-color: $purple;
            }
        }
    }

    .infoAguardando {
        .infoHeader {
            color: $Lgreen;
            .infoHeaderIcon {
                border-color: $Lgreen;
            }
        }
    }

    .infoNps {
        .infoHeader {
            color: $yellow;
            .infoHeaderIcon {
                border-color: $yellow;
                i {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    &::after {
                        content: "";
                        position: absolute;
                        width: 120%;
                        height: 2px;
                        transform-origin: center;
                        transform: translateX(20px) rotate(-45deg);
                        background-color: #ffffffa5;
                        animation: luz 2s infinite;
                    }
                }
                @keyframes luz {
                    from {
                        transform: translateX(20px) rotate(-45deg);
                        opacity: 0.4;
                    }

                    to {
                        transform: translateX(-20px) rotate(-45deg);
                        opacity: 0.9;
                    }
                }
            }
        }
        .infoContent small {
            font-size: 12pt;
        }
    }


    .relatory {
        width: 100%;
        border: 1px solid $mainColor;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 15px 20px;
        gap: 20px;
        grid-area: 1/2/4/4;
        background-color: #fff;

        .relatoryTitle {
            font-size: 14pt;
            font-weight: bold;
            color: $mainColor;
        }
        .graph {
            background-color: #fff;
            position: relative;
            height: 90%;
            overflow: hidden;
            .graphButtons {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 12px;
                width: 100%;
                margin: 10px 0;
                span {
                    margin-right: auto;
                    font-size: 14pt;
                    font-weight: bold;
                }
                div {
                    background-color: $mainColor;
                    color: #fff;
                    border-radius: 30px;
                    padding: 3px 15px;
                    font-size: 9pt;
                    cursor: pointer;
                    border: 1px solid $mainColor;
                    transition: 0.2s;
                    &:hover {
                        background-color: #fff;
                        color: $mainColor;
                    }
                }
                .chartBtnActive {
                    background-color: #fff;
                    color: $mainColor;
                    border: 1px solid $mainColor;
                }
            }
            canvas {
                border: 1px solid $mainColor;
                width: 100%;
                height: 90% !important;
            }
        }
        button {
            margin-top: 20px;
        }
    }
}
