.adminHomeContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    //background-color: #f00;
    padding: 10px;
    flex: 1;
    overflow: hidden;
    aspect-ratio: 2/1;
    gap: 0.57%;
    div {
        width: 12%;
        aspect-ratio: 1;
        display: flex;
        background-color: rgb(random(255), random(255), random(255));
        transform: translateY(100vh);
        animation: up 2s;
        &:nth-child(even) {
            background-color: rgb(random(255), random(255), random(255));
        }
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        @for $a from 1 through 50 {
                &:nth-child(#{$a}) {
                    animation-delay: #{$a * 0.05}s;
                }
        }
    }
    .g{
        width: 23.96%;
    }
    .mv{
        aspect-ratio: 1/2;
    }
    .mh{
        width: 24%;
        aspect-ratio: 2;
    }
    @keyframes up {
        from {
            opacity: 0;
            transform: translateY(100vh);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
