.purchasesContainer {
    .purchasesContent {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .filterPurchases {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid $mainColor;
        margin-top: 20px;
        padding: 10px 0;
        gap: 30px;
        .filterTitle {
            color: $mainColor;
            font-size: 12pt;
            margin-top: 10px;
            margin-bottom: 8px;
            padding: 2px 0;
        }
        #totalPurchases {
            color: #333;
            font-size: 12pt;
            margin-top: 10px;
            margin-bottom: 8px;
            padding: 2px 0;
            b {
                color: $mainColor;
            }
        }
        button {
            width: 260px;
            height: 28px;
            border-radius: 30px;
            border: none;
            background-color: $mainColor;
            color: #fff;
            font-weight: bold;
            font-size: 10pt;
            cursor: pointer;
            margin-left: auto;
        }
        .selectStatus{
            display: flex;
            align-items: center;
            gap: 20px;
            span{
                font-size: 12pt;
                color: $mainColor;
            }
            select{
                border: none;
                border: 1px solid $mainColor;
                border-radius: 30px;
                background-color: #fff;
                color: #333;
                text-align: center;
                padding: 3px 10px;
            }
        }

        label {
            margin-left: 20px;
            display: flex;
            width: 250px;
            align-items: center;
            overflow: hidden;
            border-radius: 20px;

            input {
                padding: 6px 10px;
                background-color: transparent;
                width: 85%;
                border: none;
                border-radius: 20px;
                outline: none;

                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                background-color: rgba(235, 227, 227, 0.507);
                border-bottom: 1px solid #fff;

                color: #333;
                transition: 0.3s;
                font-weight: bold;
                font-size: 11pt;
                &:focus {
                    border-bottom: 1px solid $mainColor;
                    border-right: none;
                }
                &:focus + i {
                    border-bottom: 1px solid $mainColor;
                    border-left: none;
                }
            }
            i {
                border-radius: 20px;
                background-color: rgba(235, 227, 227, 0.507);
                height: 100%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 10px;
                cursor: pointer;
                color: $mainColor;
                border-bottom: 1px solid #fff;
                border-left: none;
                font-size: 12pt;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                transition: 0.3s;
                &:hover {
                    color: $mainColor;
                }
                &:active {
                    color: #72444a85;
                }
            }
        }
    }
    .purchasesHeader {
        width: 100%;
        margin-top: 0px;
        background-color: $mainColor;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 3px 0;
        font-weight: bolder;
        label {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 11pt;
            text-align: center;
            cursor: pointer;
            text-shadow: 0px 0px 1px #ffc7e3;
            transition: 0.3s;
            &:hover {
                color: rgb(199, 199, 199);
            }
            &:first-child {
                width: 25%;
            }
            &:nth-child(2) {
                width: 60%;
            }
            &:nth-child(4) {
                width: 60%;
            }
            &:nth-child(6) {
                width: 20%;
            }
            &:last-child {
                width: 35%;
            }
        }
        .selected {
            i {
                color: rgb(255, 161, 161);
                text-shadow: 0px 5px 1px #ffc7e3;
            }
            .up {
                transform: rotate(180deg);
                transform: (2.5px);
            }
        }
    }
    .purchases {
        display: flex;
        flex-direction: column;
        width: 100%;
        .purchase {
            width: 100%;
            padding: 5px 0;
            display: flex;
            span {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 11pt;
                color: #000;
                text-align: center;
                align-items: center;
                position: relative;
                &:first-child {
                    width: 25%;
                }
                &:nth-child(2) {
                    width: 60%;
                }
                &:nth-child(4) {
                    width: 60%;
                }
                &:nth-child(6) {
                    width: 20%;
                }
                &:last-child {
                    width: 35%;
                }
                i {
                    font-size: 13pt;
                    color: $mainColor;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover {
                        color: #ccc;
                    }
                }
                .disputPurcList{
                    font-size: 1em;
                    font-weight: bold;
                    color: #f00;
                }
            }
            &:nth-child(even) {
                background-color: #efefef;
            }

            .deleteConfirm {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                button {
                    border: none;
                    color: #fff;
                    border-radius: 20px;
                    width: 100%;
                    padding: 2px 10px;
                    cursor: pointer;
                    background-color: $mainColor;
                    &:hover {
                        background-color: #f00;
                    }
                }
            }
        }
        border-bottom: 1px solid $mainColor;
    }
    .pageCounter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
        span {
            color: #aaa;
            font-size: 13pt;
            cursor: pointer;
            &:hover {
                color: #ccc;
            }
        }

        .pageSelected {
            font-weight: bold;
            color: $mainColor;
            &:hover {
                color: $mainColor;
                font-size: 13pt;
            }
        }
    }
    position: relative;
    .modalPurchase {
        position: absolute;
        width: 100%;
        max-width: 80%;
        padding: 30px 20px;
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid $mainColor;
        border-radius: 20px;
        top: 40px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;

        display: none;
        box-shadow: 0px 0px 5px #00000057, 0px 0px 15px $mainColor, 0px 0px 20px #00000011;

        #closeModalPurchase {
            position: absolute;
            top: -25px;
            right: calc(50% - 25px);
            width: 50px;
            height: 50px;
            background-color: #fff;
            border: 1px solid $mainColor;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $mainColor;
            font-size: 20pt;
            box-shadow: 0px 0px 5px #00000037, 0px 0px 8px $mainColor, 0px 0px 10px #00000011;
            transition: 0.2s;
            &:hover {
                color: #dbb;
                border: none;
            }
        }

        section {
            width: 49%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid $mainColor;
            border-radius: 10px;
            h4 {
                color: $mainColor;
                font-size: 13pt;
            }
            label {
                width: 100%;
                background-color: $mainColor;
                box-sizing: border-box;
                display: flex;
                color: #fff;
                justify-content: center;
                gap: 25px;
                padding: 10px 0;
                align-items: center;
                height: 100%;
                max-height: 50px;
                border-radius: 5px;

                .help {
                    i {
                        color: #f5f5f5 !important;
                    }
                }
                span {
                    font-size: 11pt;
                    color: #fff;
                }
                #StatusSelect {
                    font-weight: bold;
                }
                select {
                    width: 180px;
                    padding: 4px 0;
                    border: 1px solid $mainColor;
                    text-align: center;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: transparent;
                    background-image: url("data:image/svg+xml;utf8,<svg id='eha7kRn9GDj1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'><path d='M0,0h24v24h-24Z' fill='none'/><path d='M7,10h1.146986L12,13.927168L15.986986,10L17,10l-5,5-5-5Z' fill='rgb(182, 109, 118)' stroke-width='0.5'/></svg>");
                    background-repeat: no-repeat;
                    background-position-x: 99%;
                    background-position-y: -4px;
                    background-color: #fff;
                    outline: none;
                    border-radius: 30px;
                    &:focus {
                        background-image: url("data:image/svg+xml;utf8,<svg id='euV7IenENMk1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'><path d='M0,0h24v24h-24Z' fill='none'/><path d='M7,10h1.146986L12,13.927168L15.986986,10L17,10l-5,5-5-5Z' transform='matrix(-1 0 0-1 24 25)' fill='rgb(182, 109, 118)' stroke-width='0.5'/></svg>");
                    }
                    &:disabled {
                        border-color: #ccc;
                    }
                }
                input[type="text"] {
                    width: 180px;
                    padding: 3px 0;
                    border: 1px solid $mainColor;
                    border-radius: 30px;
                    text-align: center;
                    font-size: 11pt;
                    color: #333;
                    &::placeholder {
                        color: #ccc;
                    }
                }
                input[type="text"].hasCode {
                    &::placeholder {
                        color: $mainColor;
                        font-weight: bold;
                        font-size: 10pt;
                    }
                }
                button {
                    width: 20%;
                    color: $mainColor;
                    background-color: #fff;
                    font-size: 11pt;
                    border: none;
                    border-radius: 20px;
                    padding: 4px 0;
                    font-weight: bold;
                    cursor: pointer;
                    border: 1px solid $mainColor;
                    transition: 0.3s;
                    &:hover {
                        color: #fff;
                        background-color: $mainColor;
                        border: 1px solid #fff;
                    }
                    &:active {
                        transition: 0.1s;
                        background-color: #a5626a;
                    }
                }
            }
        }
        .info {
            padding: 20px 0;
            &:last-child {
                margin-bottom: auto;
            }

            span {
                font-weight: bold;
                color: $mainColor;
                b {
                    color: #333;
                    font-weight: normal;
                }
                a {
                    color: #a5626a;
                }
            }
        }
        .prods {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .prodsHeader {
                width: 100%;
                span {
                    width: 100px;
                    text-align: center;
                    &:first-child {
                        flex: 1;
                    }
                }
            }
            .productList {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .product {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 10px;
                    box-sizing: border-box;
                    padding: 10px;
                    border-bottom: 1px solid $mainColor;
                    &:last-child {
                        border-bottom: none;
                    }
                    .image {
                        width: 75px;
                        height: 75px;
                        overflow: hidden;
                        border: 1px solid $mainColor;
                        border-radius: 10px;
                        padding: 0;
                        background-color: $mainColor;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    label {
                        width: 100px;
                        background-color: #fff;
                        span {
                            color: #333;
                        }
                    }
                    .name {
                        flex: 1;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
    .modalOpen {
        display: flex;
    }
}
