* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsContainer {
  background-color: #fff;
  margin-top: 40px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  position: relative;
}

.productsContainer .productsTitle {
  color: #b66d76;
  font-size: 15pt;
  margin-bottom: 10px;
}

.productsContainer .description {
  width: 80%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.productsContainer .filterProducts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid #b66d76;
  margin-top: 20px;
  padding: 10px 0;
}

.productsContainer .filterProducts #totalProducts {
  color: #b66d76;
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 2px 0;
}

.productsContainer .filterProducts .filterTitle {
  color: #b66d76;
  font-size: 12pt;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 2px 0;
}

.productsContainer .filterProducts button {
  width: 260px;
  height: 28px;
  border-radius: 30px;
  border: none;
  background-color: #b66d76;
  color: #fff;
  font-weight: bold;
  font-size: 10pt;
  cursor: pointer;
  margin-left: auto;
}

.productsContainer .filterProducts label {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.productsContainer .filterProducts label input {
  padding: 6px 10px;
  background-color: transparent;
  width: 85%;
  border: none;
  border-radius: 20px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(235, 227, 227, 0.507);
  border-bottom: 1px solid #fff;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: bold;
  font-size: 11pt;
}

.productsContainer .filterProducts label input:focus {
  border-bottom: 1px solid #b66d76;
  border-right: none;
}

.productsContainer .filterProducts label input:focus + i {
  border-bottom: 1px solid #b66d76;
  border-left: none;
}

.productsContainer .filterProducts label i {
  border-radius: 20px;
  background-color: rgba(235, 227, 227, 0.507);
  height: 100%;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  color: #b66d76;
  border-bottom: 1px solid #fff;
  border-left: none;
  font-size: 13pt;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.productsContainer .filterProducts label i:hover {
  color: #b66d7685;
}

.productsContainer .filterProducts label i:active {
  color: #72444a85;
}

.productsContainer .productsHeader {
  margin-top: 0px;
  background-color: #b66d76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding: 3px 0;
  font-weight: bolder;
}

.productsContainer .productsHeader label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 11pt;
  text-align: center;
  cursor: pointer;
  text-shadow: 0px 0px 1px #ffc7e3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.productsContainer .productsHeader label:hover {
  color: #c7c7c7;
}

.productsContainer .productsHeader label:nth-child(1) {
  width: 35%;
}

.productsContainer .productsHeader .selected i {
  color: #ffa1a1;
  text-shadow: 0px 5px 1px #ffc7e3;
}

.productsContainer .productsHeader .selected .up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform: 2.5px;
          transform: 2.5px;
}

.productsContainer .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #b66d76;
}

.productsContainer .products .product {
  width: 100%;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.productsContainer .products .product span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11pt;
  color: #000;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.productsContainer .products .product span:nth-child(1) {
  width: 35%;
}

.productsContainer .products .product span i {
  font-size: 13pt;
  color: #b66d76;
  cursor: pointer;
}

.productsContainer .products .product span i:hover {
  color: #f00;
}

.productsContainer .products .product:nth-child(even) {
  background-color: #efefef;
}

.productsContainer .products .product:hover {
  border: 1px solid #b66d7674;
  border-left: none;
  border-right: none;
}

.productsContainer .products .product .deleteConfirm {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.productsContainer .products .product .deleteConfirm button {
  border: none;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 2px 10px;
  cursor: pointer;
  background-color: #b66d76;
}

.productsContainer .products .product .deleteConfirm button:hover {
  background-color: #f00;
}

.productsContainer .pageCounter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.productsContainer .pageCounter span {
  color: #aaa;
  font-size: 13pt;
  cursor: pointer;
}

.productsContainer .pageCounter span:hover {
  color: #ccc;
}

.productsContainer .pageCounter .pageSelected {
  font-weight: bold;
  color: #b66d76;
}

.productsContainer .pageCounter .pageSelected:hover {
  color: #b66d7691;
  font-size: 13pt;
}

.productsContainer .modalProduct {
  position: absolute;
  background-color: #fff;
  border: 1px solid #b66d76;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -1px #00000044, 0px 0px 25px -1px #00000022, 0px 0px 8px 0px #00000011;
          box-shadow: 0px 0px 15px -1px #00000044, 0px 0px 25px -1px #00000022, 0px 0px 8px 0px #00000011;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productsContainer .modalProduct .modalTitle {
  font-size: 12pt;
  font-weight: bold;
  color: #b66d76;
  margin-bottom: 10px;
}

.productsContainer .modalProduct .productAdd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productsContainer .modalProduct .productAdd .productInfo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px 10px;
  padding: 10px;
}

.productsContainer .modalProduct .productAdd .productInfo section {
  width: 68%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productsContainer .modalProduct .productAdd .productInfo section:nth-child(even) {
  width: 30%;
}

.productsContainer .modalProduct .productAdd .productInfo section label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsContainer .modalProduct .productAdd .productInfo section label .rs, .productsContainer .modalProduct .productAdd .productInfo section label .kg {
  font-size: 12pt;
  font-weight: bold;
  color: #b66d76;
  margin-right: 5px;
}

.productsContainer .modalProduct .productAdd .productInfo section label .kg {
  margin-left: 5px;
}

.productsContainer .modalProduct .productAdd .productInfo section label input {
  width: 90%;
  border: none;
  border-radius: 30px;
  padding: 3px 16px;
  font-size: 13pt;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: #fff;
  border: 1px solid #b66d76;
  color: #b66d76;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productsContainer .modalProduct .productAdd .productInfo section label input:focus + small,
.productsContainer .modalProduct .productAdd .productInfo section label input:valid + small {
  top: -12px;
  left: 0px;
  font-weight: bold;
  color: #b66d76;
  text-shadow: 0 0 1px #ffe0e4;
  font-size: 9pt;
}

.productsContainer .modalProduct .productAdd .productInfo section label select {
  width: 90%;
  border: none;
  border-radius: 30px;
  padding: 4px 16px;
  font-size: 11pt;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  color: #b66d76;
  border: 1px solid #b66d76;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productsContainer .modalProduct .productAdd .productInfo section label select + small {
  position: absolute;
  top: -12px;
  left: 0px;
  font-weight: bold;
  color: #b66d76;
  text-shadow: 0 0 1px #ffe0e4;
  font-size: 9pt;
}

.productsContainer .modalProduct .productAdd .productInfo section label small {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 30px;
  top: 25%;
  font-size: 11pt;
  color: #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo section label textarea {
  width: 90%;
  height: 150px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.productsContainer .modalProduct .productAdd .productInfo section label textarea:focus {
  border: 1px solid #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo section label #NewProductDescription + small {
  top: -17px;
  left: -5px;
  font-weight: bold;
  color: #b66d76;
  font-size: 11pt;
}

.productsContainer .modalProduct .productAdd .productInfo section .save {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsContainer .modalProduct .productAdd .productInfo section .save button {
  background-color: #b66d76;
  width: 90%;
  height: 100%;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.productsContainer .modalProduct .productAdd .productInfo section .save button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.productsContainer .modalProduct .productAdd .productInfo section .save button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.productsContainer .modalProduct .productAdd .productInfo section .save button span {
  font-size: 11pt;
}

.productsContainer .modalProduct .productAdd .productInfo section .save button i {
  font-size: 13pt;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .optionsHeader {
  font-size: 13pt;
  color: #b66d76;
  font-weight: bold;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions #OptionsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item input {
  width: 40%;
  border: none;
  border: 1px solid #b66d76;
  background-color: #fff;
  color: #b66d76;
  outline: none;
  border-radius: 20px;
  padding: 5px 0;
  text-align: center;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item input::-webkit-input-placeholder {
  color: #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item input:-ms-input-placeholder {
  color: #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item input::-ms-input-placeholder {
  color: #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item input::placeholder {
  color: #b66d76;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item i {
  width: 10%;
  font-size: 14pt;
  color: #b66d76;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .item i:hover {
  color: #ccc;
}

.productsContainer .modalProduct .productAdd .productInfo .productOptions .add {
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
}

.productsContainer .modalProduct .productAdd .productImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productsContainer .modalProduct .productAdd .productImages .productMainImage {
  width: 280px;
  height: 280px;
  background-color: #f99;
  border: 1px solid #b66d76;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.productsContainer .modalProduct .productAdd .productImages .productSecImage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productsContainer .modalProduct .productAdd .productImages .productSecImage div {
  width: 80px;
  height: 80px;
  background-color: #f99;
  border: 1px solid #b66d76;
}

.productsContainer .modalProduct .productAdd .productImages .addImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.productsContainer .modalProduct .productAdd .productImages .addImage img {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  pointer-events: none;
}

.productsContainer .modalProduct .productAdd .productImages .addImage input[type="file"] {
  position: absolute;
  background-color: #fff;
  background-image: url("plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0pt;
  color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.productsContainer .modalProduct .productAdd .productImages .addImage input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.productsContainer .modalProduct .productAdd .productImages .addImage input[type="file"]:hover {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
}

.productsContainer .modalProduct .productAdd .productImages .addImage i {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #b66d76;
  font-size: 10pt;
  cursor: pointer;
}

.productsContainer .modalProduct .productAdd .productImages .addImage i:hover {
  color: #777777;
}

.productsContainer .modalProduct .productAdd .productImages .addImage::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f110";
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.productsContainer .modalProduct .productAdd .productImages .loading {
  position: relative;
  overflow: hidden;
}

.productsContainer .modalProduct .productAdd .productImages .loading::after {
  font-family: "FontAwesome";
  position: absolute;
  z-index: 1000;
  width: 1000px;
  height: 1000px;
  font-size: 40pt;
  color: #999;
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
  content: "\f110";
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.productsContainer .modalProduct .closeMod {
  position: absolute;
  top: 10px;
  color: #b66d76;
  font-size: 18pt;
  right: 30px;
  cursor: pointer;
}

.productsContainer .modalProduct .closeMod:hover {
  color: #c00;
}

.productsContainer .invalidInput {
  border: 1px solid #b66d76;
  -webkit-box-shadow: 0px 0px 15px -1px #b66d76, 0px 0px 25px -1px #b66d76, 0px 0px 8px 0px #b66d76;
          box-shadow: 0px 0px 15px -1px #b66d76, 0px 0px 25px -1px #b66d76, 0px 0px 8px 0px #b66d76;
}
/*# sourceMappingURL=adminProducts.css.map */