$deskWidth: calc(100% - 60px);
$mainColor: #b66d76;
$containerWidth: $deskWidth;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    div button{
        border-radius: 30px;
        padding: 6px 0;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 11pt;
        background-color: $mainColor;
        cursor: pointer;
        border: 1px solid #fff;
        transition: 0.25s;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        &:active {
            filter: brightness(1.1);
        }
        &:hover {
            background-color: #fff;
            color: $mainColor;
            border: 1px solid $mainColor;
        }
        &:disabled {
            color: #686868;
            background-color: #ddd;
            cursor: inherit;
        }
    }
}
.adminContainer {
    width: $containerWidth;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}


.adminHeader {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $mainColor;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #fff;
    span{
        color: $mainColor;
    }
}

.adminMenu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    background-color: $mainColor;
    padding: 10px 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    transition: 0.8s;
    overflow: hidden;
    z-index: 100;
    a {
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        text-decoration: none;
        cursor: pointer;
        overflow: hidden;
        transition: 0.3s;
        i {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 16pt;
            border-radius: 50%;
            //border: 1px solid #fff;
            transition: 0.5s;
            cursor: pointer;
        }
        label {
            overflow: hidden;
            display: flex;
            width: 220px;

            color: #fff;
            font-weight: bold;
            font-size: 15pt;

            text-align: center;
            align-items: center;
            justify-content: flex-end;
            transition: 0.5s;
            cursor: pointer;
        }
        &:hover {
            i,
            label {
                color: #fdd;
            }
        }
    }
    .menuToggleBox {
        position: absolute;
        right: 10px;
        top: 5px;
        width: 35px;
        height: 35px;
        background-color: $mainColor;
        z-index: 1000;
        .menuToggle {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;
            &:hover .bars {
                width: 100%;
                background-color: rgb(233, 188, 188);
            }
        }
        .active {
            align-items: flex-end;
        }
        .bars {
            transition: width 0.5s ease-out, background-color 1.5s;
            width: 95%;
            height: 3px;
            background-color: #fff;
            &:nth-child(2) {
                width: 50%;
            }
            &:nth-child(3) {
                width: 70%;
            }
        }
    }
}

.active {
    width: 300px;
}

.adminTitle {
    width: 95%;
    color: $mainColor;
    font-weight: bold;
    font-size: 14pt;
}
.adminDescricao {
    width: 90%;
    margin-bottom: 20px
}


@import "about";
@import "banner";
@import "carousel";
@import "category";
@import "material";
@import "products";
@import "purchases";
@import "reviewPurshases";
@import "configShipping";