* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutAdminContainer {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  gap: 20px;
}

.aboutAdminContainer .aboutTitle {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  color: #b66d76;
}

.aboutAdminContainer .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutAdminContainer .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutAdminContainer .content .jqte {
  width: 100%;
  height: 100%;
}

.aboutAdminContainer .content .jqte .jqte_editor {
  height: 96%;
  resize: none;
  padding: 2%;
}

.aboutAdminContainer .content .addImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  width: 48%;
  aspect-ratio: 1.5/1;
}

.aboutAdminContainer .content .addImage #DeleteAboutImage {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14pt;
  color: #b66d76;
  cursor: pointer;
  z-index: 20;
}

.aboutAdminContainer .content .addImage #DeleteAboutImage:hover {
  color: #f00;
}

.aboutAdminContainer .content .addImage img {
  width: 100%;
  height: 100%;
  width: 450;
  position: relative;
  pointer-events: none;
}

.aboutAdminContainer .content .addImage input[type="file"] {
  position: absolute;
  background-color: #fff;
  background-image: url("plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0pt;
  color: transparent;
  cursor: pointer;
}

.aboutAdminContainer .content .addImage input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.aboutAdminContainer .content .addImage i {
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #7e2c2c;
  font-size: 10pt;
  cursor: pointer;
}

.aboutAdminContainer .content .addImage i:hover {
  color: #777777;
}

.aboutAdminContainer .content .addImage::after {
  position: absolute;
  font-family: "FontAwesome";
  content: '\f110';
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.aboutAdminContainer .content .loading {
  position: relative;
  overflow: hidden;
}

.aboutAdminContainer .content .loading::after {
  position: absolute;
  font-family: "FontAwesome";
  width: 1000%;
  height: 1000%;
  z-index: 30;
  font-size: 40pt;
  color: #999;
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
  content: "\f110";
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.aboutAdminContainer .content label {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.aboutAdminContainer .content label span {
  font-size: 14pt;
  color: #b66d76;
}

.aboutAdminContainer .content label input {
  width: 80%;
  font-size: 11pt;
  padding: 3px 0;
  border-radius: 20px;
  border: 1px solid #b66d76;
  text-align: center;
}

.aboutAdminContainer .content label button {
  border: none;
  background-color: #b66d76;
  color: #fff;
  width: 50%;
  padding: 4px 0;
  border-radius: 30px;
  font-weight: bold;
  font-size: 13pt;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.aboutAdminContainer .content label button:hover {
  background-color: #fff;
  color: #b66d76;
  border: 1px solid #b66d76;
}
/*# sourceMappingURL=about.css.map */