@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$devWidth: 1100px;
@media (max-width: 1100px){
    $devWidth: 100%;
}
$mainColor: #f8f;

@import "header";
@import "banner";




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Aldrich";
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(45deg, #fca3ff33, rgb(237, 210, 255));

}

@media (max-width: 600px){
    body{
        background: none;
    }
}

.destaque{
    
    width: $devWidth;
    margin-top: 30px;
    height: 200px;
    background-color: #09c;
    display: flex;
    
    .categoriaDestaque{
        width: 220px;
        height: 100%;
        background-color: #0ff;
        display: flex;
        flex-direction: column;

        .catItem{
            width: 90%;
            flex: 1;
            
            display: flex;
            align-items: center;
            
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            
            &:nth-child(2){
                margin: 5px 0;
                margin-left: 10%;
            }

            margin-left: 10%;
            background-color: #f00;
            .catImage{
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background-color: #f0f;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }

        .catName{
            width: 100%;
            margin-left: 10px;
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 15pt;
            font-weight: 300;

        }
    }
    margin-bottom: 100px;
}