* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    .container {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

        position: relative;

        background-color: #fff;
        box-shadow: 0 0 20px 10px rgba(#000000, 0.07);
        border-radius: 20px;
        overflow-x: hidden;
        overflow-y: scroll;


        &::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            background-color: #cacaca;
            overflow: hidden;
            border-radius: 20px;
            display: none;
        }
        &::-webkit-scrollbar-thumb {
            background: #fff;
            border-radius: 10px;
            border: 1px solid rgba(40, 248, 255, 0.4);
        }
    }
}


.container .recip {
    width: 100%;
    height: 200px;
    background-color: var(--color);

    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    position: relative;
    
    color: #fff;
    img{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .name{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(#000000, 0.37);
        padding: 5px;

    }
}
