.productsContainer {


    .filterProducts {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-top: 1px solid $mainColor;
        margin-top: 20px;
        padding: 10px 0;
        #totalProducts {
            color: $mainColor;
            font-size: 12pt;
            margin-top: 10px;
            margin-bottom: 8px;
            padding: 2px 0;
        }
        .filterTitle {
            color: $mainColor;
            font-size: 12pt;
            margin-top: 10px;
            margin-bottom: 8px;
            padding: 2px 0;
        }
        button {
            width: 260px;

            margin-left: auto;
        }

        label {
            margin-left: 20px;
            display: flex;
            width: 250px;
            align-items: center;
            overflow: hidden;
            border-radius: 20px;

            input {
                padding: 6px 10px;
                background-color: transparent;
                width: 85%;
                border: none;
                border-radius: 20px;
                outline: none;

                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                background-color: rgba(235, 227, 227, 0.507);
                border-bottom: 1px solid #fff;

                color: #333;
                transition: 0.3s;
                font-weight: bold;
                font-size: 11pt;
                &:focus {
                    border-bottom: 1px solid $mainColor;
                    border-right: none;
                }
                &:focus + i {
                    border-bottom: 1px solid $mainColor;
                    border-left: none;
                }
            }
            i {
                border-radius: 20px;
                background-color: rgba(235, 227, 227, 0.507);
                height: 100%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                cursor: pointer;
                color: $mainColor;
                border-bottom: 1px solid #fff;
                border-left: none;
                font-size: 13pt;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                transition: 0.3s;
                &:hover {
                    color: $mainColor;
                }
                &:active {
                    color: #72444a85;
                }
            }
        }
    }
    .displayProds{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .productsHeader {
        margin-top: 0px;
        background-color: $mainColor;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 3px 0;
        font-weight: bolder;
        width: 100%;
        label {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 11pt;
            text-align: center;
            cursor: pointer;
            text-shadow: 0px 0px 1px #ffc7e3;
            transition: 0.3s;
            &:hover {
                color: rgb(199, 199, 199);
            }

            &:nth-child(1) {
                width: 35%;
            }
        }
        .selected {
            i {
                color: rgb(255, 161, 161);
                text-shadow: 0px 5px 1px #ffc7e3;
            }
            .up {
                transform: rotate(180deg);
                transform: (2.5px);
            }
        }
    }
    .products {
        display: flex;
        flex-direction: column;
        width: 100%;
        .product {
            width: 100%;
            padding: 5px 0;
            display: flex;
            span {
                width: 100%;
                display: flex;
                justify-content: center;
                font-size: 11pt;
                color: #000;
                text-align: center;
                align-items: center;
                position: relative;
                &:nth-child(1) {
                    width: 35%;
                }
                i {
                    font-size: 13pt;
                    color: $mainColor;
                    cursor: pointer;
                    &:hover {
                        color: #f00;
                    }
                }
            }
            &:nth-child(even) {
                background-color: #efefef;
            }
            &:hover {
                border: 1px solid $mainColor;
                border-left: none;
                border-right: none;
            }
            position: relative;
            .deleteConfirm {
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                button {
                    border: none;
                    color: #fff;
                    border-radius: 20px;
                    width: 100%;
                    padding: 2px 10px;
                    cursor: pointer;
                    background-color: $mainColor;
                    &:hover {
                        background-color: #f00;
                    }
                }
            }
        }
        border-bottom: 1px solid $mainColor;
    }
    .pageCounter {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px 0;
        span {
            color: #aaa;
            font-size: 13pt;
            cursor: pointer;
            &:hover {
                color: #ccc;
            }
        }

        .pageSelected {
            font-weight: bold;
            color: $mainColor;
            &:hover {
                color: $mainColor;
                font-size: 13pt;
            }
        }
    }
    position: relative;
    .modalProduct {
        position: absolute;
        background-color: #fff;
        border: 1px solid $mainColor;
        border-radius: 20px;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0px 0px 15px -1px #00000044, 0px 0px 25px -1px #00000022, 0px 0px 8px 0px #00000011;
        display: flex;
        display: none;
        flex-direction: column;
        .modalTitle {
            font-size: 12pt;
            font-weight: bold;
            color: $mainColor;
            margin-bottom: 10px;
        }
        .productAdd {
            display: flex;
            flex-direction: row;
            .productInfo {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                gap: 14px 10px;
                padding: 10px;
                section {
                    width: 68%;
                    box-sizing: border-box;
                    &:nth-child(even) {
                        width: 30%;
                    }

                    label {
                        position: relative;
                        display: flex;
                        align-items: center;
                        .rs,
                        .kg {
                            font-size: 12pt;
                            font-weight: bold;
                            color: $mainColor;
                            margin-right: 5px;
                        }
                        .kg {
                            margin-left: 5px;
                        }
                        input {
                            width: 90%;
                            border: none;
                            border-radius: 30px;
                            padding: 3px 16px;
                            font-size: 13pt;
                            box-sizing: border-box;
                            outline: none;
                            background-color: #fff;
                            border: 1px solid $mainColor;

                            color: $mainColor;
                            transition: 0.5s;
                            &:focus + small,
                            &:valid + small {
                                top: -12px;
                                left: 0px;
                                font-weight: bold;
                                color: $mainColor;
                                text-shadow: 0 0 1px #ffe0e4;

                                font-size: 9pt;
                            }
                        }
                        select {
                            width: 90%;
                            border: none;
                            border-radius: 30px;
                            padding: 4px 16px;
                            font-size: 11pt;
                            box-sizing: border-box;
                            background-color: #fff;
                            color: $mainColor;
                            border: 1px solid $mainColor;
                            transition: 0.5s;
                        }
                        select + small {
                            position: absolute;
                            top: -12px;
                            left: 0px;
                            font-weight: bold;
                            color: $mainColor;
                            text-shadow: 0 0 1px #ffe0e4;

                            font-size: 9pt;
                        }
                        small {
                            transition: 0.3s;
                            position: absolute;
                            left: 30px;
                            top: 25%;
                            font-size: 11pt;
                            color: $mainColor;
                        }

                        textarea {
                            width: 90%;
                            height: 150px;
                            border: none;
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            outline: none;
                            resize: none;
                            box-sizing: border-box;
                            padding: 10px;

                            &:focus {
                                border: 1px solid $mainColor;
                            }
                        }
                        #NewProductDescription + small {
                            top: -17px;
                            left: -5px;
                            font-weight: bold;
                            color: $mainColor;
                            font-size: 11pt;
                        }
                    }
                    .save {
                        align-items: center;
                        button {
                            width: 90%;
                            gap: 10px;
                            cursor: pointer;
                            span {
                                font-size: 11pt;
                            }
                            i {
                                font-size: 13pt;
                                &:nth-child(2) {
                                    display: block;
                                }
                                &:nth-child(3) {
                                    display: none;
                                }
                                &:nth-child(4) {
                                    display: none;
                                }
                            }
                        }
                        .alertButton {
                            i {
                                &:nth-child(2) {
                                    display: none;
                                }
                                &:nth-child(3) {
                                    display: block;
                                }
                                &:nth-child(4) {
                                    display: none;
                                }
                            }
                        }
                        .doneButton {
                            i {
                                &:nth-child(2) {
                                    display: none;
                                }
                                &:nth-child(3) {
                                    display: none;
                                }
                                &:nth-child(4) {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .productOptions {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .optionsHeader {
                        font-size: 13pt;
                        color: $mainColor;
                        font-weight: bold;
                    }
                    #OptionsList {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }
                    .item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        input {
                            width: 40%;
                            border: none;
                            border: 1px solid $mainColor;
                            background-color: #fff;
                            color: $mainColor;
                            outline: none;
                            border-radius: 20px;
                            padding: 5px 0;
                            text-align: center;
                            box-shadow: 0;
                            transition: 0.5s;
                            &::placeholder {
                                color: $mainColor;
                            }
                        }

                        i {
                            width: 10%;
                            font-size: 14pt;
                            color: $mainColor;
                            transition: 0.1s;
                            cursor: pointer;
                            &:hover {
                                color: #ccc;
                            }
                        }
                    }
                    .add {
                        order: 1000;
                    }
                }
            }

            .productImages {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 30%;
                align-items: center;
                box-sizing: border-box;
                .productMainImage {
                    width: 280px;
                    height: 280px;
                    background-color: #f99;
                    border: 1px solid $mainColor;
                    transition: 0.5s;
                }
                .productSecImage {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    justify-content: center;
                    div {
                        width: 80px;
                        height: 80px;
                        background-color: #f99;
                        border: 1px solid $mainColor;
                    }
                }
                .addImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;

                    img {
                        display: block;
                        height: 100%;
                        width: 100%;
                        position: relative;
                        pointer-events: none;
                    }
                    input[type="file"] {
                        position: absolute;
                        background-color: #fff;
                        background-image: url("plus.png");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 50%;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 0pt;
                        //opacity: 0;
                        color: transparent;
                        cursor: pointer;
                        transition: 0.2s;
                        &::-webkit-file-upload-button {
                            display: none;
                        }
                        &:hover {
                            filter: grayscale(0.8);
                        }
                    }
                    i {
                        position: absolute;
                        right: 4px;
                        top: 4px;
                        color: $mainColor;
                        font-size: 10pt;
                        cursor: pointer;
                        &:hover {
                            color: rgb(119, 119, 119);
                        }
                    }

                    &::after {
                        position: absolute;
                        font-family: "FontAwesome";
                        content: "\f110";
                        content: "";

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;

                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
                .loading {
                    position: relative;
                    overflow: hidden;

                    &::after {
                        font-family: "FontAwesome";
                        position: absolute;
                        z-index: 1000;
                        width: 1000px;
                        height: 1000px;
                        font-size: 40pt;
                        color: #999;
                        animation: rotate 1s infinite;
                        content: "\f110";
                    }
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        .closeMod {
            position: absolute;
            top: 10px;
            color: $mainColor;
            font-size: 18pt;
            right: 30px;
            cursor: pointer;
            &:hover {
                color: #c00;
            }
        }
    }
    .invalidInput {
        border: 1px solid $mainColor;
        box-shadow: 0px 0px 4px 1px #dbce12;
    }
}
