
.reviewPurchasesContent{
    .reviewContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    button {
        width: 220px;
        margin-top: 20px;
        align-self: flex-start;
        margin-left: 5%;
        &:hover{
            background-color: #fff;
            color: $mainColor;
            border: 1px solid $mainColor;
        }
    }
    #totalOrders{
        align-self: flex-start;
        b{
            color: $mainColor;
        }
    }

    .contentHeader{
        background-color: $mainColor;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 4px 20px;

        span{
            color: #fff;
            text-align: center;
            width: 100%;

        }
    }

    .reviewContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        .item{
            padding: 4px 20px;
            border-bottom: 1px solid $mainColor;
            width: 100%;
            display: flex;
            justify-content: space-between;
            span{
                width: 100%;
                text-align: center;

            }
        }
    }
}
