$deskWidth: calc(100% - 60px);
$mainColor: #b66d76;
$containerWidth: 100%;

$red: #ff4a4a;
$green: #4beb4b;
$Lgreen: #0eeeb6;
$orange: #ff7e00;
$blue: #0aa2ee;
$purple: #8400db;
$yellow: #fff128;
$LBlue: #00cbda;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    &::-webkit-scrollbar {
        width: 8px;
        border: none;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        border: none;
    }
    &::-webkit-scrollbar-thumb {
        background: $mainColor;
    }
    &::-webkit-scrollbar-thumb:hover {
        border: none;
        background: lighten($mainColor, 10%);
    }
}
body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100vw;
    overflow-x: hidden;
}
.AllContent {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 60px;
    padding-top: 50px;
}

.adminContainer {
    width: $containerWidth;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 50px); 
    align-items: center;
    gap: 20px;

    .adminTitle {
        width: 85%;
        color: $mainColor;
        font-weight: bold;
        font-size: 14pt;
        margin-top: 30px;
    }
    .adminDescricao {
        width: 75%;
        margin-top: 20px;
        line-height: 1.4em;
        
        b {
            font-size: 11pt;
            color: $mainColor;
        }
    }
}

.preloadIcon {

    font-size: 0.01pt;
    font-family: "FontAwesome";

    &::after {
        content: "\f00c";
    }

    &::before {
        content: "\f071";
    }
}

@import "scss/adminHeader";
@import "scss/adminMenu";

@import "scss/models/adminButton";
@import "scss/models";

//? Pages
@import "scss/home";
@import "scss/purchases";
@import "scss/products";
@import "scss/banner";
@import "scss/category";
@import "scss/material";
@import "scss/carousel";
@import "scss/about";
@import "scss/relatory";
@import "scss/configFree";
@import "scss/config";
