.slider{
  width: 1100px;
  background: #2c3e50; 
  margin: 0 auto;
  height: 400px;
  display: block;
}

.myslide{
  height: 400px;
  display: none;
  overflow: hidden;
}


.Control_Img{
  position: relative;
  top: -220px;
  width: 1100px;

  height: 220px;
  display: flex;
  justify-content: space-between;
}

.prev, .next{
  font-size: 50px;
  cursor: pointer;
  color: #ccc;
  transition: 0.3s;
  user-select: none;
  margin: 0 30px;
}
.prev:hover, .next:hover{
  color: #FF9B9B; 
}
.next{
  order: 4;
}


.dotsbox{
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 20px;
}
.dot{
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active, .dot:hover{
  border-color: #FF9B9B; 
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@media screen and (max-width: 1100px){
  .slider, .myslide, .Control_Img{
    width: 100%;
  }
}


@media screen and (max-width: 650px){
  .slider, .myslide, .Control_Img{
    
    height: 260px;
  }
  
  .Control_Img{
    top: -260px;
    height: 260px;
    display: flex;
    justify-content: space-between;
  }
  .prev, .next{
    font-size: 30px;
    margin: 0 ;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: rgba(255, 138, 249, 0.1);
    transition: 0.4s;
  }
  .prev:hover, .next:hover{
    background-color: rgba(255, 138, 249, 0.2);
  }
}





@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@media screen and (max-width: 800px){
  .next{
    right: 2%;
  }

  @-webkit-keyframes posi2 {
    from {top: 35%;}
    to {top: 50%;}
  }


  @keyframes posi2 {
    from {top: 35%;}
    to {top: 50%;}
  }


}
