.newsletter{
	height: 250px;
	width: 100%;
	background-color: #FFEBEB;
}

.newsletter .content-newsletter{
	height: 250px;
	margin: 0 auto;
	padding: 20px 0;
	width: 1100px;
}

.newsletter .content-newsletter .nl-title{font-size: 20px;}

.newsletter .content-newsletter #frm-newsletter{
	margin-top: 25px;
	width: 350px;
}

.newsletter .content-newsletter #frm-newsletter .nl-input{
	border: 1px solid #FF9B9B;
	border-radius: 5px;
	height: 5px;
	margin-top: 5px;
	padding: 10px;
	width: 300px;
}

.newsletter .content-newsletter #frm-newsletter .nl-verification{
	border: 1px solid #FF9B9B;
	border-radius: 5px;
	height: 5px;
	margin-top: 5px;
	padding: 10px;
	width: 140px;
}

.newsletter .content-newsletter #frm-newsletter #btn-asign{
	background-color: #FF4F4F;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	height: 27px;
	margin-top: 5px;
	width: 156px;
}

.newsletter .content-newsletter #frm-newsletter #btn-asign:hover{ background-color: #FF9B9B;}


@media screen and (max-width: 1100px) {
	.newsletter .content-newsletter{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.nl-title{
		margin-top: 15px;
	}

}
