.mainBanner {
    width: $deskWidth;
    height: 450px;
    background-color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .bannerShow{
        width: $deskWidth;
        height: 100%;
        position: absolute;

        overflow: hidden;

    }
    .dotsBanner{
        position: absolute;
        bottom: 0;
        pointer-events: none;
    }
    &::before{
        content: "";
        width: 100vw;
        height: 100%;
        position: absolute;
        background-color: $mainColor;
        overflow: hidden;
    }
}