

.homeContent{
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @import "carousel";
    @import "contact";
    @import "news";
}
