* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 150px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContent {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContent .logoSelect {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerContent .logoSelect .separator {
  height: 120px;
  width: 0.08px;
  border-radius: 10px;
  background-color: rgba(255, 236, 131, 0.329);
  -webkit-box-shadow: 0px 0px 30px 5px #ffd2d2;
          box-shadow: 0px 0px 30px 5px #ffd2d2;
}

header .headerContent .logoSelect img {
  margin: 0 20px;
  height: 75%;
}

header .headerContent .logoSelect .logoBook {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

header .headerContent .logoSelect .logoBook:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

header .headerContent .logoSelect .logoMagic {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

header .headerContent .logoSelect .logoMagic:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

header .headerContent h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 28pt;
}

.menu {
  height: 40px;
  width: 100%;
  background-color: #999;
}

.menu .menuContent {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.banner {
  width: 1100px;
  height: 400px;
  background-color: blueviolet;
  margin: 0 auto;
}

.manaMenu {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manaMenu .mana {
  height: 3.5em;
  width: 3.5em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.manaMenu .mana:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.manaMenu .active {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.products {
  width: 1100px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #999;
  padding: 30px 0;
}

.products .product {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../deck1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.products .product:hover .info {
  opacity: 100%;
}

.products .product * {
  z-index: 1;
}

.products .product .name {
  position: relative;
  width: 60%;
  background-color: #09c;
  top: 40px;
  padding: 6px 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
}

.products .product .manaType {
  width: 70px;
  height: 70px;
  position: relative;
  float: right;
  top: -15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .product .manaType span {
  width: 4em;
  height: 4em;
}

.products .product .price {
  background-color: #09c;
  position: relative;
  top: 240px;
  padding: 6px 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 16pt;
  font-weight: 500;
}

.products .product .info {
  position: relative;
  background-color: rgba(65, 65, 65, 0.8);
  width: 100%;
  height: 100%;
  bottom: 55px;
  opacity: 0%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.products .product .info h3 {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  color: royalblue;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.products .product .info p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.products .product .info .buy {
  background-color: #09c;
  width: 80%;
  padding: 7px 0;
  margin: 0 auto;
  position: relative;
  top: 75px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16pt;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */