@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(99, 0, 165), rgb(99, 0, 165), rgb(190, 0, 117));
    color: #fff;


}
header{
    flex: 1;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    

    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 1;
        width: 100%;
        overflow: hidden;

       

        li{
            background-color: #fff;
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            
            margin: 10px;
            cursor: pointer;
            border-radius: 15%;
            
            list-style: none;
            font-size: 22pt;
            color: #777;
            
            width: 80%;
            height: 100%;
            aspect-ratio: 1/1;
            cursor: pointer;
            
            img{
                width: 60px;
            }
            
            &:hover{
                
                color: #ff03d5;
                box-shadow: 0px 0px 9px 2px #ff03d5;
            } 

            span{
                font-weight: 500;
                text-align: center;
            }
        }
        .active{
                
            color: #ff03d5;
            box-shadow: 0px 0px 9px 2px #ff03d5;
        }
    }
}
.container{
    flex: 5;
    margin: 0 auto;
    display: flex;
    height: 100%;
    max-height: 100vh;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.3);

    .list{
        
        flex: 1;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: scroll;

        padding: 10px 0;
        &::-webkit-scrollbar { 
            display: none; 
        }

        background-color: rgba(0, 0, 0, 0.2);
        border: 10px solid rgba(226, 81, 255, 0.6);
        border-image: linear-gradient(80deg, rgba(226, 81, 255, 0.3), rgba(226, 81, 255, 0.9), rgba(226, 81, 255, 0.3)) 1;
        border-right: none;

        img{
            width: 85%;
            margin: 5px 0;
            aspect-ratio: 1/1;
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                border-radius: 15px;
                transform: scale(1.1);
            }
        }
    }

    .image{
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.1);
        border: 10px solid;
        border-image: linear-gradient(135deg, rgba(226, 81, 255, 0.3), rgba(226, 81, 255, 0.9), rgba(226, 81, 255, 0.3)) 1;
        
        img{
            width: 90%;
            transition: 0.2s;
            &:hover{
                transform: scale(1.2);
            }
        }

    }
}


@media (max-width: 800px) {
    body{
        flex-direction: column;
    }

    header{
        flex-direction: column;
        width: 100vw;
        margin-left: 0;
        overflow: hidden;
        ul{
            flex-direction: row;
        }
    }

    .container{
        margin-right: 0;
        flex-direction: column;
        .list{
            flex-direction: row;

            img{
                height: 100px;
            }
        }
    }
}