.BoxContainer {
    position: fixed;
    top: 0vh;
    width: 95vw;
    height: 90vh;
    //aspect-ratio: 1/1;
    z-index: 6;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    //transform: rotateX(30deg);
    perspective: 10000px;
    transform-style: preserve-3d;

    background-color: #946d46;

    border: 40px solid #5e462d;
    border-top-color: #765838;
    border-right-color: #c9aa8c;
    border-bottom-color: #b3885e;
    box-shadow: 0 0 15px 15px #000;

    .fa-times {
        position: absolute;
        right: 40px;
        top: 10px;

        color: #fff;
        font-size: 26pt;
        cursor: pointer;
    }

    .title {
        color: #fff;
        justify-self: flex-start;
        font-size: 29pt;
        margin-top: 20px;
    }

    .show {
        width: 80%;

        margin-top: 20px;
        background-color: #dfa963;
        border: 10px solid #765838;
        border-top-color: #946e46;
        border-right-color: #e4d5c6;
        border-bottom-color: #c9aa8c;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        flex-wrap: wrap;
        overflow-y: scroll;

        max-height: 480px;
        .item {
            height: 200px;
            background-color: #fff;
            aspect-ratio: 1/1.1;

            margin: 15px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .image {
                flex: 1;

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #ddd;
                overflow: hidden;
                img {
                    width: 95%;
                    max-height: 100%;
                }
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 0;
                height: 30px;
                width: 100%;
                text-align: center;
                background-color: rgb(184, 137, 37);

                color: #fff;
                font-size: 10pt;
                i {
                    font-size: 13pt;
                    justify-self: flex-end;
                    margin-left: 5px;

                    color: #eee;
                    font-weight: lighter;
                    &:hover {
                        color: #f00;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .send {
        position: absolute;
        bottom: 60px;
        right: 150px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(255, 205, 68);
        padding: 15px 20px;
        font-size: 12pt;
        font-weight: bold;

        color: #222;
        z-index: 6;
        cursor: pointer;

        &:hover {
            color: #6d9;
            font-weight: normal;
            letter-spacing: 0.2px;
        }
        &:hover > i {
            color: #3a3;
        }

        .fa-share {
            margin-left: 10px;
            transform: translateY(-8px);
        }

        .fa-whatsapp {
            font-size: 18pt;
            font-weight: bold;
        }
    }
}

.open {
    display: flex;
}

@media (max-width: 870px) {
    .BoxContainer {
        .show {
            width: 98%;
        }
    }
}
@media (max-width: 650px) {
    .BoxContainer {
        width: 100vw;
        height: 94vh;
        overflow: hidden;
        border: none;
        justify-content: flex-start;
        align-items: center;
        .show {
            width: 98%;
            max-height: 70%;
        }
    }
}

@media (max-width: 690px) {
    .BoxContainer {
        .show {
            .item {
                margin: 5px;
                aspect-ratio: 1/1;
                .image{
                    img{
                        overflow: hidden;
                        height: 100%;   
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .BoxContainer {
        .show {
            .item {
                height: 210px;
                aspect-ratio: 1/1;
                margin: 3px;
            }
        }
    }
}

@media (max-width: 500px) {
    .BoxContainer {
        .send {
            position: inherit;
            bottom: 0;
            width: 100%;
            left: 0;
            height: 40px;
        }
    }
}

@media (max-width: 440px) {
    .BoxContainer {
        .show {
            .item {
                width: 45%;
            }
        }
    }
}