.container {
    border-top: 6px solid #121212;
    z-index: 2;
    //background: linear-gradient(rgba(17, 17, 17, 0.65), #34215f85, rgba(17, 17, 17, 0.55));
    background-color: #8f3cb38a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    width: $devWid;
    padding-bottom: 100px;
    .product {
        transform: scale(0.95);
        background-color: #00000033;
        width: 260px;
        width: 23%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0 0 12px 5px rgb(24, 24, 24);
        margin: 10px 5px;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 8px 2px rgba(129, 1, 168, 0.733);
        }

        .image {
            padding: 5px 0;
            width: 100%;
            aspect-ratio: 4/3;
            background-color: rgba(24, 18, 58, 0.342);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            padding-bottom: 5px;
            img {
                border: 2px solid #f1adff70;
                box-shadow: 0 0 12px 0 rgb(204, 0, 177);
                display: block;
                max-height: 95;
                height: 95%;
                max-width: 85%;
                background-color: #f9f;
                cursor: pointer;
            }
        }

        .info {
            width: 100%;
            background-color: #000;
            display: flex;
            flex-wrap: wrap;
            flex: 2;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-collapse: collapse;
            }
            .nome {
                padding: 1px 3px;
                width: 100%;
                color: #fff;
                font-size: 12pt;
                text-align: center;
                //background-color: rgb(0, 31, 66);
                border-bottom: 3px solid #000;
                background-color: rgba(146, 0, 204, 0.434);
            }

            .tamanho {
                width: 49%;
                background-color: rgba(170, 0, 0, 0.726);
                color: #fff;
                font-weight: bold;
                border-right: 2.5px solid #000;
            }
            .preco {
                width: 50%;
                font-weight: 600;
                color: #fff;
                background-color: rgba(2, 156, 48, 0.8);
            }
        }
        .add {
            flex: 1;
            width: 100%;
            background-color: #43005e56;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding-top: 8px;
            padding-bottom: 2px;

            border-top: 3px solid #000;

            &:hover {
                background-color: rgb(78, 2, 74);
            }

            .fa-box {
                font-size: 18pt;
                color: rgb(180, 98, 4);
            }
            .fa-arrow-right {
                color: #fff;
                font-size: 11pt;
                align-self: flex-start;
            }
            .fa-plus {
                color: #fff;
                transform: translate(-16px, 4px);
                font-size: 7pt;
            }
        }
    }

    .notFound {
        color: #fff;
        margin-top: 50px;
        font-size: 18pt;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i {
            font-size: 70pt;
            margin-bottom: 20px;
        }
    }
}

.zoomProd {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #66666686;
    top: 0;
    left: 0;
    z-index: 10;
    .zoomProduct {
        width: 900px;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        flex-direction: row;
        .zoomImage {
            background-color: rgba(24, 18, 58, 0.8542);

            width: 70%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
        .close {
            position: absolute;
            top: -30px;
            right: 0;
            font-size: 20pt;
            color: #fff;
            cursor: pointer;
            z-index: 5;
        }
        .zoomInfo {
            position: relative;

            width: 30%;
            height: 100%;
            background-color: #999;
            display: flex;
            flex-direction: column;
            .zoomNome {
                text-align: center;
                color: #fff;
                width: 100%;
                background-color: #880488ab;

                padding: 10px 0;
            }
            .zoomTamanho {
                width: 100%;
                color: #fff;
                background-color: rgba(170, 0, 0, 0.726);

                text-align: center;
                padding: 10px 0;
                font-weight: bold;
            }
            .zoomPreco {
                background-color: rgba(2, 156, 48, 0.8);
                text-align: center;
                color: rgb(255, 255, 255);
                font-weight: bold;
                padding: 10px 0;
            }

            .zoomAdd {
                width: 100%;
                background-color: rgba(67, 0, 94, 0.336);
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                cursor: pointer;
                &:hover {
                    background-color: rgb(78, 2, 74);
                }

                .fa-box {
                    font-size: 18pt;
                    color: rgb(180, 98, 4);
                }
                .fa-arrow-right {
                    color: #fff;
                    font-size: 11pt;
                    align-self: flex-start;
                }
                .fa-plus {
                    color: #fff;
                    transform: translate(-17px, 5px);
                    font-size: 8pt;
                }
            }

            .secImg {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(115, 0, 192, 0.219);
                padding: 10px;
                overflow-y: none;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                img {
                    border: 1px solid #f9f;
                    width: 80px;
                    height: 80px;
                    margin: 5px 10px;
                    cursor: pointer;
                }
            }

            .zoomObs {
                flex: 1;
                background-color: rgb(102, 0, 97);
                p {
                    margin: 10px 15px;
                    font-size: 10pt;
                    color: rgb(255, 255, 255);
                    text-align: justify;
                }
                span {
                    display: block;
                    margin: 15px;
                    font-size: 14pt;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

.zoomProdActive {
    display: flex;
}

@media (max-width: 1100px) {
    .container {
        width: 100%;

        .product {
            .info {
                background-color: #00000033;
                justify-content: space-evenly;
                border: none;
                .nome {
                    border: none;
                }
                .tamanho,
                .preco {
                    width: 49.5%;
                    border: none;
                }
            }
            .add {
                border: none;
            }
        }
    }
}

@media (max-width: 950px) {
    .container {
        border-top: none;
        .product {
            height: 270px;
        }
    }
}
@media (max-width: 850px) {
    .container {
        .product {
            height: 300px;

            width: 30%;
        }
    }
}
@media (max-width: 700px) {
    .container {
        .product {
            height: 250px;

            width: 30%;
        }
    }
}
@media (max-width: 550px) {
    .container {
        .product {
            height: 250px;

            width: 49%;
            margin: 2px;
        }
    }
}
@media (max-width: 370px) {
    .container {
        .product {
            height: 220px;

            width: 45%;
        }
    }
}

@media (max-width: 1100px) {
    .zoomProd {
        .zoomProduct {
            width: 90%;
        }
    }
}
@media (max-width: 850px) {
    .zoomProd {
        .zoomProduct {
            height: 90vh;

            flex-direction: column;

            .zoomImage {
                width: 100%;
                aspect-ratio: 1/1;
            }
            .zoomInfo {
                flex: 1;
                width: 100%;
                height: 500px;
                flex-direction: row;
                flex-wrap: wrap;
                .zoomNome,
                .zoomTamanho,
                .zoomPreco {
                    padding: 5px 0;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                }

                .secImg {
                    height: 100px;
                    width: 100%;
                    padding: 0;
                    position: absolute;
                    background-color: #ffffff00;
                    top: -40%;
                    transform: scale(0.9);
                    img {
                        margin: 2px;
                        width: 90px;
                        height: 90px;
                    }
                }

                .zoomObs {
                    padding: 5px 0;

                    display: flex;
                    min-height: 130px;
                    max-height: 160px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 10pt;
                        height: 15%;
                        margin: 0;
                        padding: 5px 0;
                        text-align: left;
                        width: 100%;
                        margin-left: 20px;
                    }
                    p {
                        overflow: hidden;
                        margin: 0;
                        height: 90%;
                        padding: 10px;
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .zoomProd {
        justify-content: flex-start;
        align-items: flex-start;
        .zoomProduct {
            margin-top: 0;
            padding-top: 0;
            top: -5vh;
            width: 100vw;
            height: 95vh;
            .zoomInfo {
                .secImg {
                    transform: scale(0.7);
                    top: -23%;
                }
            }
        }
    }
}
