header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 0, 55, 0.268);
    box-shadow: 0 0 8px 0px rgba(255, 151, 238, 0.308);
}

.menu {
    width: $devWid;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .toggleMenu{
        display: none;
    }
    
    .tel {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fca2ff;
        background-image: url("img/Logo.png");
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
        background-color: #dddddd11;

        a {
            color: #fca2ff;

            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-shadow: 0 0 5px #000, 0 0 15px #666;

            font-weight: bold;
            &:hover > i,
            &:hover > p {
                color: #3a3;
            }

            i {
                font-size: 16pt;
                margin-right: 5px;
            }
            p {
                font-size: 11pt;
            }
        }
    }

    .box {
        background-color: #dddddd11;

        cursor: pointer;
        font-size: 26pt;

        i {
            &:hover,
            &:hover ~ h4 {
                animation: 0.6s ease-out zoom;
                color: rgb(233, 160, 252);
            }
            @keyframes zoom {
                0% {
                    transform: scale(1);
                }
                50% {
                    transform: scale(1.1);
                }

                100% {
                    transform: scale(1);
                }
            }
        }
        .itemNumber {
            display: block;
            width: 18px;
            height: 18px;
            font-weight: 500;
            text-shadow: 0 0px 2px #999;
            font-size: 12pt;
            position: absolute;
            top: 25%;
            text-align: center;
        }
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #77777741;
        position: relative;
        color: #fff;
        text-align: center;
        transition: 0.8s;

        font-size: 16pt;
        i {
            z-index: 3;
            position: relative;
            display: block;
        }
        label {
            input[type="checkbox"] {
                display: none;
                &:checked ~ span {
                    //Aqui ----------- :checked
                    color: rgb(219, 0, 172);
                    background-color: #5e0079ff;
                    box-shadow: inset 0px 0px 5px 2px #e4009f44, inset -5px -5px 10px -2px #66666644;
                }
                &:checked ~ span {
                    //Aqui ----------- :checked
                    img {
                        filter: sepia(0%) brightness(2);
                    }
                }
            }
        }
        span {
            transition: 0.8s;
            cursor: pointer;
            //Aqui -----------
            position: absolute;
            background-color: #40036444;

            width: 100%;
            height: 100%;
            top: -0;
            left: -0;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 32pt;
            border: none;
            img {
                transition: 0.8s;
                aspect-ratio: 1/1;
                height: 50%;
                opacity: 1;
                //filter: grayscale(100%);
                filter: sepia(80%);
            }
        }
    }
}

@media (max-width: 1100px) {
    .menu {
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .menu {
        .tel {
            a {
                flex-direction: column;
                i {
                    order: 1;
                    margin-top: 10px;
                    font-size: 20pt;
                }
                p {
                    font-size: 11pt;
                }
            }
        }
    }
}
@media (max-width: 900px) {
    .menu {
        height: 110px;
        .box .itemNumber{
            top: 18%;
            color: #f99;
        }
        .tel {
            a {
                flex-direction: column;
                p {
                    display: none;
                }
                i {
                    font-size: 30pt;
                    color: rgba(0, 255, 0, 0.686);
                }
            }
        }
    }
}
@media (max-width: 750px) {
    .menu {
        .box{
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        i{
            font-size: 20pt;
        }
    }
}
@media (max-width: 550px) {


    .menu {
        height: 80px;
        overflow: hidden;
        flex-wrap: wrap;
        div{
            width: 100%;
            height: 90px;
            max-height: 120px;
        }
        .toggleMenu{
            display: flex;
            width: 20%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
                margin: 4px 0;
                width: 30%;
                height: 3px;
                background-color: #999;
                transition: 0.5s;
            }
        }

        .tel{
            width: 50%;
            order: -2;
            background-size: 30%;
            background-position: left;
            a{
                width: 100%;
                flex-direction: row-reverse;
                justify-content: flex-start;
                i{
                    margin: 0;
                    margin-right: 5px;
                    font-size: 22pt;
                }
                p{
                    font: 10pt;
                    order: -10;
                    display: block;
                }
            }
        }

        .box{
            .itemNumber{
                top: 15%;
            }
            order: -1;
            width: 30%;
        }
    }
    .menuOpen{
        height: 100%;
        .toggleMenu{
            i:nth-child(1){
                transform-origin: center;
                transform: translateY(10px) rotate(45deg);
            }
            i:nth-child(2){
                filter: opacity(0);
            }
            i:nth-child(3){
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }
}

@media (max-width: 450px) {
    .menu {
        .tel{
            width: 60%;
            background-size: 30%;
            background-position-x: 10px;
            a{

                p{
                    font-size: 9pt;
                }
            }
        }

        .box{
            width: 20%;

        }
    }
}
@media (max-width: 400px) {
    .menu {
        .tel{
            background-size: 27%;
            background-position-x: 5px;
            a{
                i{
                    font-size: 18pt;
                }
                p{
                    font-size: 9pt;
                }
            }
        }
    }
}