@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Kdam Thmor Pro", sans-serif;
    box-sizing: border-box;
}
$colorA: #2c2e30;
$colorB: #404a4e;
$colorC: #383c3f;
$colorD: rgb(66, 69, 71);

$red: #ff4a4a;
$green: #57ff57;
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    background: $colorA;
}

.--box {
    backdrop-filter: blur(10px);
    color: #fff;
}

.restrictContent {
    width: 100%;
    position: relative;
    display: grid;
    min-height: 100vh;
    place-items: center;
    grid-template-rows: 5% 25% 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "menu menu menu menu"
        "total mes futuro cancelado"
        "content content content content";

    .menu {
        width: 100%;
        height: 100%;
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        .menuContent {
            @extend .--box;
            height: 100%;
            width: 100%;
            margin: auto;
            background-color: $colorB;
            display: flex;

            align-items: center;
            .menuItem {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                height: 100%;
                cursor: pointer;

                &:hover {
                    background-color: $colorC;
                }
                i {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    &:hover .menuItemDescription {
                        opacity: 1;
                        transition: all 0.3s;
                    }
                    .menuItemDescription {
                        font-size: 14pt;
                        min-width: 100%;
                        width: fit-content;
                        position: absolute;
                        border-radius: 5px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        left: 130%;
                        pointer-events: none;
                        opacity: 0;
                        transition: all 0.8s;
                    }
                }
            }
        }
    }

    .box {
        @extend .--box;
        background-color: $colorA;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: 0.8s;

        input[type="radio"] {
            display: none;

            &:checked {
                & + div {
                    background: $colorB;
                }
            }
        }
        div {
            transition: 1s;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            height: 100%;

            span {
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .boxTitle {
                font-size: 18pt;
                gap: 10px;
                i {
                    font-size: 20pt;
                }
            }
            .boxValue {
                align-items: baseline;
                gap: 2px;
                small {
                    font-size: 15pt;
                    letter-spacing: 2px;
                }
                font-size: 26pt;
            }
        }
    }
    .total {
        grid-area: total;
    }
    .mes {
        grid-area: mes;
    }
    .futuro {
        grid-area: futuro;
    }
    .cancelado {
        grid-area: cancelado;
        #InfoCanceledMonth,
        #InfoCanceledMonth + small,
        #InfoCanceledMonth + small + b {
            color: $red;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        grid-area: content;
        background: $colorA;

        display: flex;
        justify-content: space-between;
        .chartBox {
            @extend .--box;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            canvas {
                width: 100%;
                height: 100%;
            }
        }
        .listBox {
            @extend .--box;
            width: 50%;

            .cancelList {
                .listTitle {
                    color: $red;
                }
                .listContent span &:last-child {
                    color: $red;
                }
            }
            .monthList {
                .listTitle {
                    color: $green;
                }
                .listContent span &:last-child {
                    color: $green;
                }
            }
            .futureList {
                .listContent span &:last-child {
                    color: $green;
                }
            }
            .totalList {
                .listHeader {
                    .download {
                        width: 50%;
                    }
                }
                .listContent {
                    span:nth-child(5) {
                        color: $green;
                    }
                    span:nth-child(3) {
                        color: $red;
                    }
                    .listItem {
                        .download {
                            width: 50%;
                            a {
                                font-size: 16pt;
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        transition: 0.8s;
        .listTitle {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 20px;

            background-color: $colorC;
            letter-spacing: 1px;
            font-size: 15pt;
        }
        .listHeader {
            width: 100%;
            display: flex;
            justify-content: space-between;

            span {
                padding: 5px 0;
                text-align: center;
                width: 100%;
            }
        }

        .listContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;

            .listItem {
                width: 100%;
                display: flex;
                justify-content: space-between;
                &:nth-child(odd) {
                    background-color: $colorB;
                }
                span {
                    padding: 5px 0;
                    width: 100%;
                    text-align: center;
                    &:last-child {
                        color: $green;
                    }
                }
                .--redVal {
                    &:last-child {
                        color: $red;
                    }
                }
            }
        }
    }
    .overPage {
        position: absolute;
        width: 100%;
        height: 95%;
        bottom: 0;
        z-index: 5;
        background-color: $colorD;
        transition: 1s;
        transform: translateY(-100%);
        .overPageContent {
            z-index: 8;
            width: 100%;
            height: 100%;
            color: #fff;
            display: flex;
        }
    }
    .overPageOpen {
        transform: translateY(0);
    }

    .overRelatory .overPageContent {
        .list {
            width: 50%;
            display: flex;
            .listHeader {
                font-size: 10pt;
            }
            .listContent {
                .listItem {
                    font-size: 10pt;
                }
            }
        }
        .overPageInfo {
            width: 50%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            .overInfo {
                width: 50%;
                aspect-ratio: 2;
                background-color: $colorC;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5) {
                    background-color: $colorA;
                }
                span {
                    font-size: 22pt;
                }
                i {
                    font-size: 32pt;
                }
                b {
                    font-size: 26pt;
                }
            }
            .generateButton {
                background-color: $colorB;
                cursor: pointer;
                transition: 0.5s;

                .gears {
                    display: flex;
                    aspect-ratio: 1.3;
                    i {
                        transition: 0.9s;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:last-child {
                            align-self: flex-end;
                            transform-origin: center;
                            transform: rotate(30deg);
                        }
                    }
                }

                @keyframes rotateGear1 {
                    from {
                        transform: rotate(00deg);
                    }
                    to {
                        transform: rotate(180deg);
                    }
                }
                @keyframes rotateGear2 {
                    from {
                        transform: rotate(30deg);
                    }
                    to {
                        transform: rotate(-150deg);
                    }
                }

                &:hover {
                    background-color: $colorC;
                    .gears {
                        i {
                            transform: rotate(180deg);
                            &:last-child {
                                transform: rotate(-150deg);
                            }
                        }
                    }
                }
                position: relative;

                &::before {
                    z-index: 3;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba($green, 0.4);
                    backdrop-filter: blur(3px);
                    opacity: 0;
                    transition: 0.6s;
                }
            }
            .getting {
                pointer-events: none;
                .gears {
                    i {
                        animation: rotateGear1 1.5s infinite;
                        &:last-child {
                            animation: rotateGear2 1.5s infinite;
                        }
                    }
                }
            }
            .generatedError {
                &::before {
                    content: "Erro";
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    font-size: 20pt;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    text-shadow: 0 0 5px #000000a9;

                    align-items: center;
                    background-color: rgba($red, 0.4);
                    backdrop-filter: blur(3px);
                    opacity: 1;

                    &:hover {
                        background-color: rgba($red, 0.3);
                    }
                }
            }
            .generated {
                &::before {
                    content: "Pronto";
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    font-size: 20pt;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    text-shadow: 0 0 5px #000000a9;

                    align-items: center;
                    background-color: rgba($green, 0.4);
                    backdrop-filter: blur(3px);
                    opacity: 1;

                    &:hover {
                        background-color: rgba($green, 0.3);
                    }
                }
            }
            .confirmGenerateButton {
                &::after {
                    content: "Confirmar";
                    z-index: 4;
                    font-size: 18pt;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translatey(100%);
                    text-shadow: 0 0 5px #00000099;
                    &:hover {
                        color: #ddd;
                    }
                }
                &::before {
                    content: "Gerar Relatório";
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    font-size: 22pt;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    text-shadow: 0 0 5px #000000a9;

                    align-items: center;
                    background-color: rgba($green, 0.4);
                    backdrop-filter: blur(3px);
                    opacity: 1;

                    &:hover {
                        background-color: rgba($green, 0.3);
                    }
                }
            }
        }
    }
}
